﻿@using System.Configuration
@{
    ViewBag.Title = "後台設定";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<style>
    #txt-cost, #txt-cost2, #txt-bgcolor, #txt-sortno { width: 100px; margin: 0 15px 0 0; display: inline-block; }
    #txt-item-statedate, #txt-item-enddate { width:160px; margin: 0 15px 0 0 ; display:inline-block; }
.dt-basic-infor { border:solid 0 red; }
.item-block-info { border: solid 0px #ddd; padding:5px 10px; float:right; font-size:13px;}
.item-sort { text-align:right; padding:0 10px; background-color:#59b8f6; font-size:17px; margin:0 4px 0 0; color:#444; }
.item-len { padding:0 2px; text-align:center; }
    .a_editstore { display:inline-block; float:left; }
    .CodeMirror { height:100px; min-height:100px;}
    .selected-onMasterImg { position: relative; top: -100px; left: 160px; }
    .storeListItem { width:220px; border: solid 0px #eee; margin: 2px; float:left; }
</style>
@*<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>*@
@section css{
    <link href='~/Content/admin.css?v=@codeVersion' rel='stylesheet' type='text/css'>
}
<div id="main"
     data-aan="@aan" v-cloak >
    <div v-if="isAdminAccount">
    
        <div id="btnsPanel">
        <div>
            <button class="ui button left" v-bind:class="{ selected : isHeadContent }" v-on:click="clickSelectHeadContent">架構</button>
            <button class="ui button left" v-bind:class="{ selected : !isHeadContent }" v-on:click="clickSelectItems">共<b class="item-len">{{Items.length}}</b>項 行銷優惠</button>
        </div>
        <div v-show="isHeadContent" class="nodeTreeBtn">
<button v-show="!isEdit" class="ui button default" v-on:click="AddNewContent">+網站節點</button>
<button                        class="ui button default" v-on:click="OpenContentImagePanel">+主內容圖片</button>
<button v-show="isAddNewStore" class="ui button default" v-on:click="GotoAddNewStore()">+新店家</button>
<button v-show="!isEdit" class="ui button default" v-on:click="UpdateContent">修改</button>
<button v-show="!isEdit" class="ui button default" v-on:click="RemoveContent">刪除</button>
<button v-show="isEdit" class="ui button" v-on:click="SaveContent">套用</button>
<button v-show="isEdit" class="ui button" v-on:click="clickCancelEdit">取消</button>
        </div>
        <div v-show="!isHeadContent" class="itemBtn">
            <b v-if="(Items.length > 0)">共有 {{Items.length}} 筆資料</b>
            
            <button v-show="!isItemEdit" class="ui button default" v-on:click="AddNewItem">
                <i class="ui tiny add red icon"></i>新增條列資料
            </button>
        </div>
        @Html.Partial("_LoginPartial2")

@*<div class="ui label teal">SN: {{currContentSN}} > {{currContentGuid}}</div>
<div class="ui label teal">isEdit: {{isEdit}}</div>
<div class="ui label teal">status: {{status}}</div>
<div class="ui label teal">{{OneContent}}</div>*@
        <div class="ui tiny label teal">{{UploadTyp}} | {{HookID}} | {{AttatchFileSN}}</div>
        
    </div>

    <div id="leftBar" v-if="ContentNodes.length>0">
        <div>
            <ul>
                <li v-for="n in ContentNodes"
                    title="{{n.SN}} | {{n.GUID}}"
                    v-on:click="SelectContentNode(n.GUID)"
                    v-bind:class="[ (currContentSN === n.SN)?'selectedNode':'' , 'lvl'+n.Level ]"
                    class="lvl">{{n.BigTitle}}</li>
            </ul>
        </div>
    </div>

    <div id="MarkDownPanel" v-cloak v-if="ContentNodes.length>0">
        <!--主頁 Content -->
        <div v-show="isHeadContent" class="form-horizontal">
            <div class="dt-basic-infor">
                <a v-if="OneContent.ParentSN == 95" class="a_editstore" href="/store?contentSN={{OneContent.SN}}" target="_blank">編輯商家資料</a> 
                建立時間: {{ OneContent.InsertDate | formatDateTime }} | 建立者: {{OneContent.Creator}}</div>
            <div class="form-group">
                <label class="col-sm-2" for="txt-bigtitle">大標題(500字)</label>
                <div class="col-sm-5"><input v-bind:readonly="!isEdit" max="500" id="txt-bigtitle" class="form-control" v-model="OneContent.BigTitle" /></div>
                <label class="col-sm-2" for="txt-bigtitle">對應網址(50英文字)</label>
                <div class="col-sm-3">
                    <input v-bind:readonly="!isEdit" id="txt-bigtitle" 
                           class="form-control"
                           style="width:150px; float:left; " 
                           v-model="OneContent.RouteName" maxlength="40" />
                    <a href="/context/{{OneContent.RouteName}}" target="_blank"><i class="ui external share blue circular icon"></i>轉頁</a> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="txt-subtitle">副標(40字)</label>
                <div class="col-sm-10">
                    <input v-bind:readonly="!isEdit" id="txt-subtitle" class="form-control" v-model="OneContent.SubTitle" maxlength="40" />
                </div>
            </div>
            
            <textarea id="MyID"></textarea>

            <!--Content 圖片明細可在這邊編輯 -->
            <div v-for="(index,m) in OneContent.imgs"
                 v-bind:style="{ 'background-image' : 'url(@uploadURL/' + m.FileNameNew + '?h=160&mode=crop)', 'background-repeat': 'no-repeat' }"
                 class="imgUnit">
                <div class="imgDscrBar">{{m.Dscr}}</div>
                <div class="img-buttons">
                    <i v-on:click="deleteImg(m, fetchOneContent)" class="ui imgbtn large trash outline icon"></i>
                    <i v-on:click="lockImg(m)" class="ui imgbtn large lock icon"></i>
                    <i v-on:click="editImg(m)" class="ui imgbtn large edit icon"></i>
                    <i v-on:click="onMasterImg(m)" class="ui large check circle imgbtn icon"></i>
                    <i v-on:click="editImgRe(m)" class="ui large eraser circle imgbtn icon" title="修改替換圖片"></i>
                </div>
                <div class="imgDscr" v-show="m.Guid == currImgGuid">
                    <textarea rows="18" v-model="m.Dscr"></textarea>
                    <button class="ui button " v-on:click="imgDscrSave(m)">套用</button>
                    <button class="ui button " v-on:click="imgDscrCancel">取消</button>
                </div>
            </div>
            
        </div>

        @*條列式資料*@
        <div v-show="!isHeadContent">
            <h3 v-if="(Items.length == 0)">目前沒有條列式資料</h3>
            <div class="item-row" v-for="(index, n) in Items">
                <div class="btns">
                    <span class="item-row-index">{{index + 1}} / {{Items.length}}</span>
                    <i class="ui orange pencil icon" v-on:click="clickEditItem(n)"></i>
                    <i class="ui orange circle remove icon" v-on:click="clickRemoveItem(n)"></i>
                    <i class="ui orange upload icon" v-on:click="selectUploadItemImage(n.Guid)"></i>
                </div>
                <div class="cnttBody">
                    <b class="itemRowBigTitle"><span class="item-sort" title="排序號碼">{{n.Sort}}</span>{{n.Title}}</b>
                    <b class="itemRowSubTitle">{{n.Subtitle}}</b>
                    <b class="itemRowName" v-show="n.Name!=null">{{n.Name}}</b>
                    <b class="itemRowDate" >{{itemlb.dateRange}}: {{n.startDate | formatDate}} ~ {{ n.endDate | formatDate}} </b>
                    @*<b class="itemRowName" v-show="n.Cost>0">{{n.Typ}} | 原售價 : {{n.Cost}} 元 | 折扣價： {{ n.Cost2 }} 元</b>*@
                    <b class="itemRowDscr">{{n.Dscr | formatMDE}}</b>
                    <div class="imgBar">    
                        <!--每個item的圖片明細可在這邊編輯 -->
                        <div v-for="(index,m) in n.imgs"
                             v-bind:style="{ 'background-image' : 'url(@uploadURL/' + m.FileNameNew + '?w=330&h=140&mode=crop)' }"
                             class="imgUnit">
                            <div class="imgDscrBar">{{m.Dscr}}</div>
                            <div class="img-buttons">
                                <i v-on:click="deleteImg(m, fetchOneContent)" class="ui imgbtn large trash outline icon"></i>
                                <i v-on:click="lockImg(m)" class="ui imgbtn large lock icon"></i>
                                <i v-on:click="editImg(m)" class="ui imgbtn large edit icon"></i>
                                <i v-on:click="onMasterImg(m)" class="ui large check circle imgbtn icon"></i>
                                <i v-on:click="editImgRe(m)" class="ui large eraser circle imgbtn icon"></i>
                            </div>
                            <i class="ui selected-onMasterImg green inverted check circular icon" v-if="(m.IsMaster=='Y')"></i> 
                            <div class="imgDscr" v-show="m.Guid == currImgGuid">
                                <textarea rows="8" v-model="m.Dscr"></textarea>
                                <button class="ui button " v-on:click="imgDscrSave(m)">套用</button>
                                <button class="ui button " v-on:click="imgDscrCancel">取消</button>
                            </div>
                        </div>
                    </div>
                    <b class="itemRowInsertDT">建立時間 : {{n.InsertDate | formatDateTime}}</b>
                </div>
            </div>

        </div>

        @*條列式資料編輯區*@
        <div v-show="!isHeadContent" class="form-horizontal" id="itemsPanel" >    
            <form class="form-horizontal" id="EditItemPanel"  v-if="isItemEdit">
                <div class="form-group">
                    <button type="button" class="ui button" v-on:click="SaveItem">儲存行銷優惠</button>
                    <button type="button" class="ui button" v-on:click="CancelEditItem">取消</button>
                    <div class="item-block-info">建立: {{ Item.InsertDate | formatDateTime }} | 異動: {{ Item.UpdateTime | formatDateTime }} | 建立者: {{Item.Creator}}</div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2" for="txt-bigtitle">{{itemlb.title1}}</label>
                    <div class="col-sm-10"><input id="txt-bigtitle" class="form-control" v-model="Item.Title" /></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="txt-subtitle">副標(40字)</label>
                    <div class="col-sm-10"><input id="txt-subtitle" maxlength="40" class="form-control" v-model="Item.Subtitle" /></div>
                </div>
                @*<div class="form-group">
                    <label class="col-sm-2" for="txt-subtitle">銷售產品相關</label>
                    <div class="col-sm-5">
                        <label for="txt-subtitle" class="lb">原價(元)</label>
                        <input id="txt-cost" class="form-control" v-model="Item.Cost" placeholder="請輸入數字，例: 1299" />
                        <label for="txt-subtitle" class="lb">折價(元)</label>
                        <input id="txt-cost2" class="form-control" v-model="Item.Cost2" placeholder="請輸入數字，例: 1299" />
                    </div>
                    <label class="col-sm-1" for="txt-subtitle">產品分類</label>
                    <div class="col-sm-4"><input id="txt-bigtitle" class="form-control" v-model="Item.Typ" /></div>
                </div>*@
                
                <div class="form-group">
                    <label class="col-sm-2" for="txt-subtitle">{{itemlb.dateRange}}</label>
                    <div class="col-sm-10">
                        <label for="txt-subtitle" class="lb">{{itemlb.startDate}}</label><input id="txt-item-statedate" class="form-control" type="date" v-model="Item.startDate" />
                        <label for="txt-subtitle" class="lb">{{itemlb.endDate}}</label><input id="txt-item-enddate" class="form-control" type="date" v-model="Item.endDate" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="txt-subtitle">其他</label>
                    <div class="col-sm-5">
                        <label class="lb" for="txt-bgcolor">背景色</label>
                        <input id="txt-bgcolor" class="form-control" v-model="Item.BgColor" />
                        <label class="lb" for="txt-sortno">排列順序</label>
                        <input id="txt-sortno" class="form-control" v-model="Item.Sort" />
                    </div>
                </div>
                <div class="form-group" v-if="Item.ContentSN == 100">
                    <label class="col-sm-2" for="txt-subtitle">餐與工廠</label>
                    <div class="col-sm-10">
                        <div v-for="c in storeList" class="storeListItem">
                            <input type="checkbox" :id="'ac_'+c.id"  v-bind:value="c.id" v-model="currActiveStore">
                            <label :for=" 'ac_' + c.id">{{c.name}}</label>
                        </div>
                        @*<span>參加的商家: {{ currActiveStore | json }}</span>*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="txt-subtitle">{{itemlb.name}}</label>
                    <div class="col-sm-10">
                        <textarea id="txt-subtitle" class="form-control" v-model="Item.Name" cols="40" rows="5"></textarea>
                    </div>
                </div>
                @*<div class="form-group">
                    <label class="col-sm-2" for="txt-subtitle">Youtube分享設定</label>
                    <div class="col-sm-10"><input id="txt-subtitle" class="form-control" v-model="Item.YoutubeUrl" /></div>
                </div>*@
                <div class="form-group">
                    <label class="col-sm-2" for="txt-subtitle">主要內容說明(最多2000字)</label>
                    <div class="col-sm-10">
                        <textarea id="MyI2D2" rows="30" class="form-control" v-model="Item.Dscr"></textarea>
                    </div>
                </div>
               
            </form>
        </div>

    </div>

    <div id="uploadFilePanel" v-show="isUploadFilePanelOpen">
        <form enctype="multipart/form-data" action="/Admin/UploadFiles" method="post" id="fileuploader">@Html.AntiForgeryToken()
            <input type="hidden" id="HookID" v-model="HookID" />
            <input type="hidden" id="AttachFileSN" v-model="AttachFileSN" />
            <input type="file" id="files" @@change="onFileChange" multiple required />
            
            <b class="uploading-files" v-show="isFileLoading">上傳圖片中。。。</b>
            <div v-show="(selectedImgsCC>0)">
<b class="selectedImgsCC">{{SelectedImgsCC}}</b>
<b>{{beforeUploadInfor}}</b>
<button class="uploadBtn" type="button" v-on:click="saveFile( fetchOneContent )" id="uploadbtn">上傳檔案</button>
<button class="uploadBtn" type="button" v-on:click="closeUploadPanel">關閉</button>
            </div>
            @*<b class="LoadingError" v-show="isLoadingError">上傳過程異常，請回報給系統維護人員。</b>
              <b class="Loading" v-show="isDeleting">刪除中。。。</b>*@
        </form>
    </div>
    
    </div>
</div>

@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
<script src="~/Scripts/src/mixin/upload.js?v=@codeVersion"></script>
<script>require(['/Scripts/src/simpleMde.js?v=@codeVersion']);</script>
}
