﻿@{
    ViewBag.Title = "客戶管理系統";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string aan = System.Configuration.ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    //string ContentGuid = ViewData["ContentGuid"].ToString();
    //int ContentSN = Int16.Parse(ViewData["ContentSN"].ToString());
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
@section css{
    <link href='~/Content/admin.css?v=170519' rel='stylesheet' type='text/css'>
}
<h4>客戶管理系統</h4>
<div id="main" data-aan="@aan" v-cloak>
    @*{{ members | json }}
    "UserName": "weiweichou0502@gmail.com", "PhoneNumber": null, "Email": "weiweichou0502@gmail.com", "EmailConfirmed": true, "AccessFailedCount": 0, "provider": "Google"*@ 
<table class="ui blue table">
    <thead>
        <tr>
            <th>使用者</th><th>Provider</th><th>Email</th><th>電話</th><th>已Email認證?</th><th>錯誤次數</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="c in members">
            <td>{{c.UserName}}</td>
            <td>{{c.provider}}</td>
            <td>{{c.Email}}</td>
            <td>{{c.PhoneNumber}}</td>
            <td>{{c.EmailConfirmed}}</td>
            <td>{{c.AccessFailedCount}}</td>
        </tr>
    </tbody>
</table>
</div>

@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script>require(['/Scripts/src/mngmember.js?v=170519']);</script>
}