﻿@using System.Configuration
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
@section css{
}

<style>
    .navbar-login { float: left; width: 38px; }
    .navbar-login img { width:58px; }
</style>

@Html.Partial("_LoginPartial2")
<h2 style="text-align: center; ">您沒有後台的權限</h2>
@section js {
}