﻿
@{
    ViewBag.Title = "HTML";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="big5" />
</head>
<body>
    <form name="payment_form"
          accept-charset="big5"
          action="http://map.ezship.com.tw/ezship_map_web.jsp"
          method="get">
        http://map.ezship.com.tw/ezship_map_web.jsp?suid=service@studentweekly.com.tw&processID=A0001&rtURL=https://localhost:44307/pay/GetMapInfor&webPara=%u5468%u80B2%u6B63|09234234234|asfqwerqwer@gmail.com
        <input type="text" name="suid" value="service@studentweekly.com.tw" />
        <input type="text" name="processID" value="A0001" />
        <input type="text" name="rtURL" value="https://localhost:44307/pay/GetMapInfor" />
        <input type="text" name="webPara" value="%u5468%u80B2%u6B63|09234234234|asfqwerqwer@gmail.com" />
        <input type="submit" value="Go to Map" />
    </form>
</body>
</html>

