﻿@using System.Configuration;
@{
    ViewBag.Title = "確認宅配地址";
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string EasyShip_suid = ConfigurationManager.AppSettings["EasyShip_suid"].ToString();
    string redirectOrderInfo = ConfigurationManager.AppSettings["HostUrl"].ToString()+ "/pay/orderinfor";
    string stCode = ViewData["stCate"].ToString() + ViewData["stCode"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
@section css{
    <link href='~/Content/css/GetMapInfor.css?v=@codeVersion' rel='stylesheet' type='text/css'>
}

<style>
    form input[type=text] { width: 300px; padding: 5px; }
    .red { color: red; }
</style>

<div id="main" v-cloak>
    <div id="cSMIF" data-pageType="getmapinfor"></div>
    <div data-processid="@ViewData["processID"].ToString()" 
         data-stCate="@ViewData["stCate"].ToString()" 
         data-stCode="@ViewData["stCode"].ToString()"
         data-stName="@ViewData["stName"].ToString()"
         data-stAddr="@ViewData["stAddr"].ToString()"
         data-stTel="@ViewData["stTel"].ToString()">
    </div>

    <table class="ui blue table">
        <thead><tr><th v-for="c in cartFd">{{c}}</th></tr></thead>
        <tbody>
            <tr v-for="(index,c) in carts">
                <td>{{index +1 }}</td>
                <td><img :src="c.prod.img.FileNameNew | formatImgSrc '@uploadURL' 90 90 " alt="c.prod.img.Title" /></td>
                <td>{{c.prod.Title}}</td>
                <td>{{c.prod.Typ}}</td>
                <td><span class="cc-span">{{c.count}}</span></td>
                <td>{{c.prod.Cost}}</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{cartFd.length}}" class="totalPanel">
                <span class="red">{{warning}}</span>    
                共 {{totalCC}} 項商品，總金額 NT {{totalFee}} 元</td>
            </tr>
            <tr>
                <td colspan="{{cartFd.length}}" class="totalPanel">
                    <table class="ui table">
<tbody>
<tr><td class="tbb">收件人姓名</td><td>@ViewData["rv_name"].ToString()</td></tr>
<tr><td class="tbb">收件人行動電話</td><td>@ViewData["rv_mobile"].ToString()</td></tr>
<tr><td class="tbb">收件人Email</td><td>@ViewData["rv_email"].ToString()</td></tr>

<tr><td colspan="2" style="text-align:center"><h3>請確認您取貨門市是否正確?</h3></td></tr>                            
<tr><td class="tbb">取貨門市</td><td>@ViewData["stName"].ToString() - @ViewData["stCate"].ToString() - @ViewData["stCode"].ToString()</td></tr>
<tr><td class="tbb">門市地址</td><td>@ViewData["stAddr"].ToString()</td></tr>
<tr><td class="tbb">門市電話</td><td>@ViewData["stTel"].ToString()</td></tr>
<tr><td colspan="2" style="text-align:center"></td></tr>
</tbody>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>

    <div id="webpara2" 
            data-rv_name="@ViewData["rv_name"].ToString()"
           data-rv_mobile="@ViewData["rv_mobile"].ToString()"
           data-rv_email="@ViewData["rv_email"].ToString()"
           data-stName="@ViewData["stCate"].ToString()@ViewData["stCode"].ToString()"></div>
    <div class="btns">
        <b>{{isConfirmBtn}} {{ob}}</b>
    <form name="payment_form"
          accept-charset="big5"
          action="https://www.ezship.com.tw/emap/ezship_request_order_api_ex.jsp"
          method="get">
<input type="hidden" name="su_id" value="@EasyShip_suid" />
<input type="hidden" name="order_id" value="@ViewData["order_id"].ToString()" />
<input type="hidden" name="order_status" value="A01" />
<input type="hidden" name="order_type" value="1" />
<input type="hidden" name="order_amount" v-model="totalFee" />
    <div id="rvName" data-name="@ViewData["rv_name"].ToString()"></div>
<input type="hidden" name="rv_name" value="@ViewData["rv_name"].ToString()" />
<input type="hidden" name="rv_mobile" value="@ViewData["rv_mobile"].ToString()" />
<input type="hidden" name="rv_email" value="@ViewData["rv_email"].ToString()" />
<input type="hidden" name="st_code" value="@stCode" />

<input type="hidden" name="rtn_url" value="@redirectOrderInfo" />
<input type="hidden" name="web_para" v-model="webPara2" />

            <div class="btn btn-primary btn-lg" v-on:click="backToMap()">修改取貨門市</div>
            <input type="submit" class="btn btn-primary btn-lg" value="訂單確認無誤"  />
        </form>
        
    </div>
</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script charset="big5">require(['/Scripts/src/cart.js?v=@codeVersion']);</script>
}
