﻿@using System.Configuration;
@{
    ViewBag.Title = "訂單成功";
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string EasyShip_suid = ConfigurationManager.AppSettings["EasyShip_suid"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
@model CMWebApp.Models.OrderM
<style>
    #main { margin: 10px 0 0; }
    .row { margin: 20px -15px 20px; }
        .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
        .row .item-block { border: solid 0px #aaa; margin: 0; /*height: 400px;*/ }
    .item-title { height: 40px; color: brown; font-size: 1em; }
    .title { display: inline-block; width: 100%; font-size: 18px; color: #666; }
    .subtitle { display: inline-block; width: 100%; font-size: 15px; color: #999; }
    .addCart { cursor: pointer; }
    .red { color: lightcoral; }
    .CCBtn { cursor: pointer; display: inline-block; border: solid 1px #aaa; text-align: center; padding: 5px; margin: 4px; }
        .CCBtn:hover { background-color: red; color: #fff; }
    .cc-span { display: inline-block; width: 60px; padding: 5px; border: solid 1px #ccc; text-align: center; }
    .ui.table td.totalPanel { background-color: #eee; padding: 10px 10px; text-align: right; }
    .btns { padding: 25px; width: 100%; background-color: #eee; border-radius: 4px; border: solid 1px #aaa; margin: 10px 0; text-align: center; }
    .ui.table tr td { font-size: 1.1em; }
        .ui.table tr td.tbb { text-align: right; background-color: #fff; width: 250px; color: #777; }
</style>

<div id="main" v-cloak>
    <h2>您已成功完成訂購</h2>

    <table class="ui blue table">
        <thead><tr><th v-for="c in cartFd">{{c}}</th></tr></thead>
        <tbody>
            <tr v-for="(index,c) in carts">
                <td>{{index +1 }}</td>
                <td><img v-bind:src="c.prod.img.FileNameNew | formatImgSrc '@uploadURL' 90 90 " alt="c.prod.img.Title" /></td>
                <td>{{c.prod.Title}}</td>
                <td>{{c.prod.Typ}}</td>
                <td><span class="cc-span">{{c.count}}</span></td>
                <td>{{c.prod.Cost}}</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{cartFd.length}}" class="totalPanel">共 {{totalCC}} 項商品，總金額 NT {{totalFee}} 元</td>
            </tr>
            <tr>
                <td colspan="{{cartFd.length}}" class="totalPanel">
                    <div id="cSMIF" data-pageType="showLastOrder"
                         data-orderid="@ViewData["order_id"].ToString()"></div>
                    <table class="ui table">

                        <tbody>
                            <tr><td class="tbb">訂單編號</td><td>@Model.id</td></tr>
                            <tr><td class="tbb">收件人姓名</td><td>@Model.custName</td></tr>
                            <tr><td class="tbb">收件人行動電話</td><td>@Model.mobile</td></tr>
                            <tr><td class="tbb">收件人Email</td><td>@Model.email</td></tr>
                            <tr><td class="tbb">取貨門市</td><td>@Model.stName</td></tr>
                            <tr><td colspan="2" style="text-align:center"></td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>





    @*<div class="btns">
            <b>{{isConfirmBtn}} {{ob}}</b>
            <div class="btn btn-primary btn-lg" v-on:click="backToMap()">修改取貨門市</div>
            <div class="btn btn-primary btn-lg" v-on:click="createOrder()">訂單確認無誤</div>
        </div>*@
</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/cart.js?v=@codeVersion']);</script>
}


