﻿<script type='text/x-template' id='Color-Selector-tmeplate'>
    <h4>請點選下列顏色：</h4>
    <ul class='colors-panel'><li v-on='click:onClickColor' v-repeat='colors' v-class='selected : (this.selectedColor==SN)' style='background-color:{{BackColor}}; color:{{ForeColor}}' class='color'>{{Dscr}}</li></ul>
    <hr />
</script>
<script type='text/x-template' id='Showroom-Dress-tmeplate'>
    <div id='Waerqwewqewe'><div class='wressly-dress' v-repeat='d:dresses'><div class='img' v-on='click: showBigImg' style='background-image: url([WRESS_PHOTO_URL]/{{d.Img.FileName}}?w=252&h=380&mode=crop);'></div><div class='title'>{{d.Name}}<i class='fa fa-heart' v-on='click: onclickLike' title='我很喜歡，要收藏起來'></i></div></div></div>
    <div class='wressly-cart-bar'><div class='wclb'><a><i class='fa fa-heart fa-3'></i>我的最愛：{{icarts}}</a><a><i class='fa fa-calendar fa-3'></i>線上預約試穿</a></div><div class='cr-dress' v-repeat='c:carts'><i class='fa fa-times-circle fa-2' v-on='click: dislikeDress' title='移除我的最愛'></i><div class='img' style='background-image: url([WRESS_PHOTO_URL]/{{c.file}}?width=82);'></div><div class='ctitle'>{{c.name}}</div></div></div>
</script>
<input type='hidden' id='wrsHiddenSeed' data-store='[WRESS_Store]' data-hurl='[WRESS_HOST_URL]' />