﻿@model CMWebApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security


<h2 style="text-align:center;">請使用Google帳號登入</h2>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                並未設定外部驗證服務。請參閱<a href="http://go.microsoft.com/fwlink/?LinkId=403804">此文章</a>
                以了解設定此 ASP.NET 應用程式以支援透過外部服務登入的詳細資料。
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="使用 @p.Caption 帳戶登入"><i class="fa fa-google-plus-square"></i> &nbsp; @p.AuthenticationType</button>
                    }
                </p>
            </div>
            <style>
                #socialLoginList { padding:40px 0;}
                .btn-default { width: 240px; display:block; margin: 0 auto; background-color: cornflowerblue; color: #fff; font-size: 2em; border-radius:20px; }
            </style>
        }

    }
}
