﻿@{
    ViewBag.Title = "確認電子郵件";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        感謝您確認電子郵件。請 @Html.ActionLink("按一下這裡登入","login", "account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
