﻿@model CMWebApp.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "註冊";
}
<h2>@ViewBag.Title.</h2>
<h3>關聯您的 @ViewBag.LoginProvider 帳戶。</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>關聯表單</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        您已成功以 <strong>@ViewBag.LoginProvider</strong>。
        請在下面輸入此網站的使用者名稱，然後按一下 [註冊] 按鈕完成
        登入。
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="註冊" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
