﻿@model CMWebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘記密碼?";
}
<style>
    .panel{width:60%; margin:50px auto 100px; border: solid 2px #aaa;  padding:40px;}
</style>
<div class="panel">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>請輸入您的Email，我們會寄送一組加密連結到您的信箱讓您重新設定密碼。</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" class="btn btn-default" value="電子郵件連結" />
            </div>
        </div>


    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
