﻿@using CMWebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
    string AppName = System.Configuration.ConfigurationManager.AppSettings["AppName"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
<style>
    .abtn { display:block; float:left; padding:0 30px; background-color:#60a0c6; color:#fff; font-size:15px; text-align:center; border-radius:4px; margin: 10px auto; }
    #socialLoginForm { margin:30px 0; border:solid 0px #ddd; padding:30px 0; }
    footer { width: 100%; display: inline-block; }
</style>


<div class="row">
    @*<div class="col-lg-12"><img style="width:100%; margin: -30px 0 -50px;" src="~/Content/Images/首頁/BANNER1.jpg" /></div>*@
    <div class=" col-md-offset-3 col-md-6">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}