﻿@using System.Configuration
@{
    ViewBag.Title = "店家基本資料維護";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
    .lb { float: left; text-align:right; margin:6px 0 0; }
    #store-edit-panel { background-color:#eeeeef; padding:0 0 30px; width:100%; } 
    #store-note { width: 100%; }
    #main{ height: 100%; margin: 0px 5% 0px;  }
    .storeColor {width:100%; height:16px; border:solid 1px #ddd; }
    #uploadFilePanel { border: solid 2px #999; width: 50%; float: left; bottom: 0px; position: fixed; z-index: 999; padding: 20px; background-color: #eee; color: #444; left: -2px; }
    #errmsg { background-color:gold; color:#333; padding:0; font-size:16px; font-weight:bold;}
</style>
@section css{
    <link href='~/Content/admin.css?v=@codeVersion' rel='stylesheet' type='text/css'>
}

<div id="main" data-aan="@aan" data-contentSN="@ViewData["ContentSN"]">
    <div id="store-edit-panel" v-cloak>
        <div class="storeColor" :style="{ backgroundColor : store.color }"></div>
        <div class="form-horizontal">
            <div class="dt-basic-infor">建立時間: {{ store.createDate | formatDateTime }} | 管理者: {{store.GoogleAccount}}</div>
            <div class="form-group">
                <label class="col-sm-2 lb">公司名稱</label>
                <div class="col-sm-3"><input max="50" id="txt-bigtitle" class="form-control" v-model="store.name" /></div>
                <label class="col-sm-1 lb">特色</label>
                <div class="col-sm-2">
                    <select class="ui dropdown" v-model="store.typ">
                        <option v-for="c in typOptions" :value="c.value">{{c.text}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">關閉評論功能</label>
                <div class="col-sm-3">
                    <label class="radio-inline">
                        <input type="radio" name="closeComment" id="inlineRadio1" value="Y" v-model="store.isCloseComment"> 關閉
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="closeComment" id="inlineRadio2" value="N" v-model="store.isCloseComment"> 開啟
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">維護者</label>
                <div class="col-sm-10"><input max="50" id="txt-bigtitle" class="form-control" v-model="store.GoogleAccount" placeholder="請填寫email" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">郵遞區號</label>
                <div class="col-sm-2"><input max="5" class="form-control" v-model="store.areaCode" /></div>
                <label class="col-sm-2 lb">地址</label>
                <div class="col-sm-6"><input max="100" class="form-control" v-model="store.address" /></div>
            </div>
            @*<div class="form-group">
                <label class="col-sm-2 lb">經度</label><div class="col-sm-2"><input max="20" class="form-control" v-model="store.lat" /></div>
                <label class="col-sm-2 lb">緯度</label><div class="col-sm-2"><input max="20" class="form-control" v-model="store.lng" /></div>
            </div>*@
            <div class="form-group">
                <label class="col-sm-2 lb">電話</label><div class="col-sm-2"><input max="12" class="form-control" v-model="store.tel" /></div>
                <label class="col-sm-2 lb">傳真</label><div class="col-sm-2"><input max="12" class="form-control" v-model="store.fax" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">FB</label>
                <div class="col-sm-10">
                    <input max="500" class="form-control" v-model="store.fb" placeholder="EX:https://www.facebook.com/yourFB" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">官網</label>
                <div class="col-sm-10">
                    <input max="500" class="form-control" v-model="store.url" placeholder="官方網站" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">更多優惠網址</label>
                <div class="col-sm-10">
                    <input max="1000" class="form-control" v-model="store.marketingUrl" placeholder="更多優惠的網址" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">Gmap導航URL</label>
                <div class="col-sm-10">
                    <input max="2000" class="form-control"  multiple v-model="store.gmapTripUrl" placeholder="輸入Gmap網址" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">LOGO</label>
                <div class="col-sm-3">
                    <button @@click="uploadImage('Store-LOGO')">上傳圖片</button>
                </div>
                <label class="col-sm-2 lb">商店代表商品圖片上傳</label>
                <div class="col-sm-4">
                    <button @@click="uploadImage('Store-smProd')">上傳圖片</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">關鍵字-keyword</label>
                <div class="col-sm-10">
                    <input max="150" class="form-control" v-model="store.keyword" />
                    <span>最多150字</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">關鍵字-description</label>
                <div class="col-sm-10">
                    <textarea max="200" class="form-control" rows="2" v-model="store.description"></textarea>
                    <span>最多300字</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 lb">其他備註</label>
                <div class="col-sm-10">
                    <textarea id="store-note" rows="5" v-model="store.note"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-2">
                <button class="ui button left default" @@click="saveStoreInfor()">儲存</button></div>
                <span id="errmsg">{{errMsg}}</span>
            </div>



            <!--Content 圖片明細可在這邊編輯 -->
            @*<div v-for="(index,m) in OneContent.imgs"
                 v-bind:style="{ 'background-image' : 'url(@uploadURL/' + m.FileNameNew + '?w=330&h=140&mode=crop)' }"
                 class="imgUnit">
                <div class="imgDscrBar"></div>
                <div class="img-buttons">
                    <i v-on:click="deleteImg(m)" class="ui imgbtn large trash outline icon"></i>
                    <i v-on:click="lockImg(m)" class="ui imgbtn large lock icon"></i>
                    <i v-on:click="editImg(m)" class="ui imgbtn large edit icon"></i>
                    <i v-on:click="onMasterImg(m)" class="ui large check circle imgbtn icon"></i>
                </div>
                <div class="imgDscr" v-show="m.Guid == currImgGuid">
                    <textarea rows="8" v-model="m.Dscr"></textarea>
                    <button class="ui button " v-on:click="imgDscrSave(m)">套用</button>
                    <button class="ui button " v-on:click="imgDscrCancel">取消</button>
                </div>
            </div>*@

        </div>

    </div>

    <div id="uploadFilePanel" v-show="isUploadFilePanelOpen">
        <form enctype="multipart/form-data" action="/Admin/UploadFiles" method="post" id="fileuploader">
            @Html.AntiForgeryToken()
            <input type="hidden" id="HookID" v-model="HookID" />
            <input type="file" id="files" @@change="onFileChange" multiple required />
            <b class="selectedImgsCC"></b>
            <b class="uploading-files" v-show="isFileLoading">上傳圖片中。。。</b>
            
                <b>{{selectedImgsCC}}</b>
                <button class="uploadBtn" type="button" v-on:click="saveFile" id="uploadbtn">上傳檔案</button>
                <button class="uploadBtn" type="button" v-on:click="closeUploadPanel">關閉</button>
            
        </form>
    </div>
</div>

@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
<script src="~/Scripts/src/mixin/upload.js?v=@codeVersion"></script>
<script>require(['/Scripts/src/store.js?v=@codeVersion']);</script>
}