﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
    #main { padding-bottom: 10px; }
    .row { margin: 20px -15px 20px; }
        .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
        .row .item-block { border: solid 0px #aaa; margin: 0; /*height: 400px;*/ }
    .item-title { height: 40px; color: brown; font-size:1em; }
    .title { display:inline-block; width:100%; font-size:18px; color:#666;}
    .subtitle { display:inline-block; width:100%; font-size:15px; color:#999;}
    .addCart { cursor:pointer; }
    .red { color:lightcoral; }
    .CCBtn { cursor:pointer; display:inline-block; border:solid 1px #aaa; text-align:center; padding:5px; margin:4px;}
    .CCBtn:hover { background-color:red; color:#fff;}
    .cc-span { display: inline-block; width:60px; padding:5px; border:solid 1px #ccc; text-align:center; }
    .ui.table td.totalPanel{ background-color:#eee; padding:30px 10px; font-size:1.2em; text-align:right; }
    .btns { padding:25px; width:100%; background-color:#eee; border-radius:4px; border:solid 1px  #aaa; margin: 10px 0; text-align:center; }
</style>

<div id="main" >
     @*data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN"*@
     @*data-aan="@aan">*@
    <div>
        <div id="cSMIF" data-pageType="cart"></div>
        <table class="ui blue table" v-cloak>
            <thead><tr><th v-for="c in cartFd">{{c}}</th></tr></thead>
            <tbody>
                <tr v-for="(index,c) in carts">
                    <td>{{index +1 }}</td>
                    <td><img :src="c.prod.img.FileNameNew | formatImgSrc '@uploadURL' 120 120 " alt="c.prod.img.Title" /></td>
                    <td>{{c.prod.Title}}</td>
                    <td>{{c.prod.Typ}}</td>
                    <td>
                        <span class="CCBtn" v-on:click="addCCBtn(c.sn, c.count)">＋</span>
                        <span class="cc-span">{{c.count}}</span> 
                        <span class="CCBtn" v-on:click="reduceCCBtn(c.sn, c.count)">－</span>
                    </td>
                    <td>{{c.prod.Cost}}</td>
                    <td><div class="ui button" v-on:click="removeItemInCart(c)">刪除</div></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="{{cartFd.length}}" class="totalPanel">共 {{totalCC}} 項商品，總金額NT {{totalFee}} 元</td>
                </tr>
            </tfoot>
        </table>
        <div class="btns">
            <label>輸入折扣代碼</label><input type="text" v-model="discountCode" />
            <div class="ui blue big button" v-on:click="clickCheckDiscountCode()">確認折扣碼</div><br />
            <div class="ui blue big button" v-on:click="clickCreateOrder()">我要結帳</div>
        </div>
        
    </div>

</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/cart.js?v=@codeVersion']);</script>
}
