﻿@using System.Configuration;
@{
    ViewBag.Title = "確認宅配地址";
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string EasyShip_suid = ConfigurationManager.AppSettings["EasyShip_suid"].ToString();
}
<style>
    #main { margin: 10px 0 0; padding: 0 5%; }
    .row { margin: 20px -15px 20px; }
        .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
        .row .item-block { border: solid 0px #aaa; margin: 0; /*height: 400px;*/ }
    .item-title { height: 40px; color: brown; font-size: 1em; }
    .title { display: inline-block; width: 100%; font-size: 18px; color: #666; }
    .subtitle { display: inline-block; width: 100%; font-size: 15px; color: #999; }
    .addCart { cursor: pointer; }
    .red { color: lightcoral; }
    .CCBtn { cursor: pointer; display: inline-block; border: solid 1px #aaa; text-align: center; padding: 5px; margin: 4px; }
        .CCBtn:hover { background-color: red; color: #fff; }
    .cc-span { display: inline-block; width: 60px; padding: 5px; border: solid 1px #ccc; text-align: center; }
    .ui.table td.totalPanel { background-color: #eee; padding: 10px 10px; text-align: right; }
    .btns { padding: 25px; width: 100%; background-color: #eee; border-radius: 4px; border: solid 1px #aaa; margin: 10px 0; text-align: center; }
    .ui.table tr td { font-size: 1.1em; }
        .ui.table tr td.tbb { text-align: right; background-color: #fff; width: 250px; color: #777; }
        .err { color:red; font-size:0.95em; font-weight:bolder; }
</style>

<div id="main" v-cloak>
    <div id="cSMIF" data-pageType="createOrder"></div>
    @*<div data-processid="@ViewData["processID"].ToString()"
         data-stCate="@ViewData["stCate"].ToString()"
         data-stCode="@ViewData["stCode"].ToString()"
         data-stName="@ViewData["stName"].ToString()"
         data-stAddr="@ViewData["stAddr"].ToString()"
         data-stTel="@ViewData["stTel"].ToString()"
         data-stPara="@ViewData["webPara"].ToString()">
    </div>*@

    <form name="payment_form"
          accept-charset="big5"
          action="http://map.ezship.com.tw/ezship_map_web.jsp"
          method="get">
        <table class="ui blue table">
            <thead><tr><th v-for="c in cartFd">{{c}}</th></tr></thead>
            <tbody>
                <tr v-for="(index,c) in carts">
                    <td>{{index +1 }}</td>
                    <td><img :src="c.prod.img.FileNameNew | formatImgSrc '@uploadURL' 90 90 " :alt="c.prod.img.Title" /></td>
                    <td>{{c.prod.Title}}</td>
                    <td>{{c.prod.Typ}}</td>
                    <td><span class="cc-span">{{c.count}}</span></td>
                    <td>{{c.prod.Cost}}</td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="{{cartFd.length}}" class="totalPanel">共 {{totalCC}} 項商品，總金額 NT {{totalFee}} 元</td>
                </tr>


                <tr>
                    <td colspan="{{cartFd.length}}" class="totalPanel">
                        <table class="ui table">
                            <tbody>
                                <tr>
                                    <td class="tbb">配送方式</td>
                                    <td>
                                        <div class="radio"><label><input type="radio" name="optionsRadios" id="oradio1" value="A01" v-model="op.order_status" checked />超商取貨</label></div>
                                        <div class="radio"><label><input type="radio" name="optionsRadios" id="oradio1" value="A05" v-model="op.order_status" />宅配到府</label></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tbb">收件人姓名</td>
                                    <td>
                                        <div class="col-sm-4">
                                            <input type="text" maxlength="6" class="form-control" id="txtName" placeholder="" v-model="op.rv_name">
                                        </div>
                                        <div class="col-sm-4">
                                            <span v-if="invalid.errName" class="err">必填</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tbb">行動電話</td>
                                    <td>
                                        <div class="col-sm-4">
                                            <input type="text" maxlength="10" class="form-control" id="txtMobile" placeholder="" v-model="op.rv_mobile">
                                        </div>
                                        <div class="col-sm-4">
                                            <span v-if="invalid.errMobile" class="err">必填</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tbb">EMAIL</td>
                                    <td>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="txtEmail" placeholder="" v-model="op.rv_email">
                                        </div>
                                        <div class="col-sm-2">
                                            <span v-if="invalid.errEmail" class="err">必填</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr v-show="isRVAddr">
                                    <td class="tbb">收件人宅配收件地址</td>
                                    <td>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="txtZip" placeholder="ex: 10513" v-model="op.rv_zip">
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="txtAddr" placeholder="請寫上詳細地址已便於寄送" v-model="op.rv_addr">
                                        </div>
                                        <div class="col-sm-2">
                                            <span v-if="invalid.errAddr || invalid.errZip" class="err">必填</span>
                                        </div>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td class="tbb">其他事項</td>
                                        <td>
                                            <div class="col-sm-10">
                                                <textarea type="text" class="form-control" id="txtNote" placeholder="" v-model="op.web_para"></textarea>
                                            </div>
                                        </td>
                                    </tr>*@

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tfoot>
        </table>

        <input type="hidden" name="suid" value="@EasyShip_suid" />
        <input type="hidden" name="processID" value="A0001" />
        <input type="hidden" name="rtURL" v-model="redirectURL" />
        <input type="hidden" name="webPara" v-model="webPara" />
        <div class="btns">
            <b>{{isConfirmBtn}} {{ob}}</b>
            <div class="btn btn-primary btn-lg"
                 v-if="(isConfirmOrderBtn && op.order_status == 'A05') "
                 v-on:click="prviewOrder()">預覽訂單</div>
            <input type="submit"
                   v-if="(isConfirmMapBtn && op.order_status == 'A01') "
                   value="選擇取貨超商" class="btn btn-primary btn-lg" />
        </div>
    </form>

</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script charset="big5">require(['/Scripts/src/cart.js?v=170608122u2']);</script>
}
