﻿@{ 
    string AppName = System.Configuration.ConfigurationManager.AppSettings["AppName"].ToString();
}
<footer>

    <div id="footer-info">
        <div class="left">
            <img src="~/Content/index-logo3.png" />
        </div>
        <div class="right">
            <p>@AppName</p>
            <p>&copy; Copyright All Rights Reserved. Design by Transee</p>
            <p><span class="foot-label">地址：</span>宜蘭縣五結鄉利興三路5號</p>
            <p><span class="foot-label">聯絡Email：</span>eland.diy@gmail.com</p>
            <p><span class="foot-label">主辦單位：</span>經濟部中小企業處</p>
            <p><span class="foot-label">輔導單位：</span>宜蘭縣工商發展投資策進會</p>
        </div>
    </div>
</footer>