﻿@using System.Configuration;
@{
    string AppName = ConfigurationManager.AppSettings["AppName"].ToString();

}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @AppName</title>
    @Styles.Render("~/Content/css")
    @*<link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/main2.css" rel="stylesheet" />
    <link href="~/Content/admin.css" rel="stylesheet" />*@
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
<style>
#main { height:100%; }
footer { position: fixed; bottom: -10px; left: 0; z-index: 9999; 
        border-top: solid 1px #ccc; background-color: rgb(173, 206, 127); color: rgb(99,125,63); padding: 18px; width: 100%; text-align: center; }

@@media (min-width: 768px){
.container { max-width: 100%; width:100%; }
}
</style>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img width="100" src="~/Content/index-logo.png" alt="@AppName" />
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        @*<footer><p>@AppName</p></footer>*@
    </div>

    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", required: false)
    @RenderSection("js", required: false)
</body>
</html>
