﻿@using System.Configuration;
@using Microsoft.AspNet.Identity
@{
    string AppName = ConfigurationManager.AppSettings["AppName"].ToString();
    string HostUrl = ConfigurationManager.AppSettings["HostUrl"].ToString();
    string LoginName = User.Identity.GetUserName().ToString().Replace("@gmail.com", "");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title @ViewBag.KeySubTitle | @AppName</title>  
    @Styles.Render("~/content/css")
    @*<link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/main2.css" rel="stylesheet" />
    <link href="~/Content/myFonts.css" rel="stylesheet" />*@
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
    <script src="https://use.fontawesome.com/387bc2c73b.js"></script>
</head>

<body>
    <div id="menu-m-btns">
        <a id="homeBtn" @@click="toggleMainBtns()"><img src="~/Content/Images/home.png" /></a>
        <div v-if="isMainBtnsShow" class="subBtns">
            <a href="/">              <img src="~/Content/Images/P0.png" /></a>
            <a href="/tourismFactory"><img src="~/Content/Images/P1.png" /></a>
            <a href="/marketing">     <img src="~/Content/Images/P2.png" /></a>
            <a href="/plantrip">      <img src="~/Content/Images/P3.png" /></a>
            @if (LoginName == "")
            {
                <a @@click="login2Google()"><img src="~/Content/Images/P4.png" /></a> 
            }
            else
            {
                <a href="javascript:document.getElementById('logoutForm').submit()"><img src="~/Content/Images/P5.png" /><b id="logout-icon">@LoginName 登出</b></a> 
            }
        </div>
    </div>
    @Html.Partial("_LoginPartial")
    <div class="container body-content">
        <div id="host" data-hosturl="@HostUrl"></div>
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", required: false)
    @RenderSection("js", required: false)
</body>
</html>
