﻿@using System.Configuration;
@{
    string AppName = ConfigurationManager.AppSettings["AppName"].ToString();
    string HostUrl = System.Configuration.ConfigurationManager.AppSettings["HostUrl"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  @AppName</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/main2.css" rel="stylesheet" />
    <link href="~/Content/myFonts.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)

    <meta http-equiv="Content-Type" content="text/html; charset=uft-8" />
    <style>
        
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top header-container" >
        <div class="container">
    

        </div>
    </div>
    <div class="container body-content">
        <div id="host" data-hosturl="@HostUrl"></div>
        @RenderBody()
        <footer class="k-blue">
            
            <div id="footer-info">
                <div class="left">
                    <img src="~/Content/index-logo2.png" />
                </div>
                <div class="right">
                    <p>@AppName</p>
                    @*<p>&copy; Copyright All Rights Reserved. Design by Transee</p>*@
                    <p><span class="foot-label">地址：</span>宜蘭縣五結鄉利興三路5號</p>
                    <p><span class="foot-label">主辦單位：</span>經濟部中小企業處</p>
                    <p><span class="foot-label">輔導單位：</span>宜蘭縣工商發產投資策進會 / 社團法人中華民國管理科學學會</p>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/stwjs")
    @RenderSection("Scripts", required: false)
    @RenderSection("js", required: false)
</body>
</html>
