﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    @*<ul class="nav navbar-nav navbar-login my-login-bar">
        <li id="mylogout">
            <a href="javascript:document.getElementById('logoutForm').submit()">登出</a>
        </li>
        <li id="myloginUser">
            <a>@User.Identity.GetUserName().ToString().Replace("@gmail.com","")</a>
        </li>
        <li id="memberCart" v-cloak><a href="/member/cart" id="cartlink"><i class="ui cart icon"></i>購物車{{myCartCC}}</a></li>
    </ul>*@
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-login my-login-bar">
        <li><a href="/Account/Login"><i class="fa fa-sign-in" aria-hidden="true"></i> 登入</a></li>    
        <li>@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a href="/member/cart" id="cartlink"><i class="ui cart icon"></i>購物車</a></li>
    </ul>*@
}