﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
    #main { padding-bottom: 10px; }
    .row { margin: 20px -15px 20px; }
        .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
        .row .item-block { border: solid 1px #ddd; margin: 1%; /*height: 400px;*/ }
    .item-title { height: 40px; color: brown; }
    .see-more-content { float: right; font-size: 14px; padding: 5px 20px; background-color: green; color: #fff; font-weight: bold; border-radius: 5px; }
    .see-more-this-item { text-align: center; font-size: 14px; line-height: 19px; color: #4800ff; font-weight: bold; width: 100%; display: inline-block; }

    @@media (min-width: 992px) {
        .col-md-3 { width: 23%; }
    }
</style>

<div v-cloak id="main" 
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN">
    <h2>{{Content.BigTitle}}</h2>
    <h4>{{{ Content.Body | formatMDE }}}</h4>
    <div>
        <div class="row">
            <div class="col-md-6 item-block" v-for="c in Content2"
                 v-bind:style="{ backgroundImage : 'url(@uploadURL/' + c.imgs[0].FileNameNew + '?w=900&h=540&mode=crop)' }">
                <a href="/context/{{c.RouteName}}"><h2>{{c.BigTitle}}</h2></a>
                <div class="content">{{{c.Body | formatMDE}}}</div>
                <img :src="item.firstImg.FileNameNew | formatImgSrc '@uploadURL' '250' '180'" />
            </div>
        </div>
    </div>
    <div id="stone"></div>

</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/GetSingleContent.js?v=@codeVersion']);</script>
}
