﻿@{
    string uploadURL = System.Configuration.ConfigurationManager.AppSettings["uploadURL"].ToString();
}
<style>
#main { padding:0px 0 200px;}
    .row { margin: 20px 0 20px; }
        .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
        .row .item-block { border: solid 1px #ddd; margin: 1%; /*height: 400px;*/ }
    .item-title { height: 40px; color: brown; }
#header-belt { width:100%; height:98px; color:#fff;}
#header-belt h2 { font-size: 23pt; float:left; line-height: 98px; padding: 0 20px;}
#header-belt h4 { font-size: 14pt; float:right; line-height: 14px; padding: 0 20px; position:relative; bottom:-45px;}
#header-belt h4 a, #header-belt h4 a:hover, #header-belt h4 a:focus { color: #fff; text-decoration: underline; }
.gray { background-color:#ddd; }
</style>

<div v-cloak id="main"
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN">

    <div id="header-belt" class="k-blue">
        <h2>{{Content.BigTitle}}</h2>
        <h4>
            <span v-for="(index,c) in TransRoutePath">
                <a href="/context/{{c.key}}">{{c.val}}</a>
                <b v-if="TransRoutePath.length -1 > index">></b>
            </span>
        </h4>
    </div>

    <div>

        <div class="row">
            
            <div class="col-md-8 col-md-offset-2 gray">
                {{{ Content.Body | formatMDE }}}
            </div>

        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">姓名：</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="王小明">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="emrgcontact" class="col-sm-4 control-label">性別：</label>
                <div class="col-sm-4">
                    <div class="col-sm-2 radio-inline">
                        <label class="checkbox-inline"><input type="radio" name="gender" id="inlineCheckbox1" value="option1" checked> 女</label></div>
                    <div class="col-sm-2 radio-inline">
                        <label class="checkbox-inline"><input type="radio" name="gender" id="inlineCheckbox2" value="option2"> 男</label></div>
                </div>
            </div>
            <div class="form-group">
                <label for="school" class="col-sm-4 control-label">連絡電話：</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="tel-area" placeholder="">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="grades" placeholder="1">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2" class="col-sm-4 control-label">Email：</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="danielchou@example.com">
                </div>
            </div>
            <div class="form-group">
                <label for="school" class="col-sm-4 control-label">詢問主題：</label>
                <div class="col-sm-5">
                    <select class="ui dropdown">
                        <option value="">請選擇</option>
                        <option value="1">學生周刊</option>
                        <option value="2">華視媒體營</option>
                        <option value="3">教學派師服務</option>
                        <option value="4">好識好物</option>
                        <option value="5">其他</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2" class="col-sm-4 control-label">詢問內容：</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="question" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2" class="col-sm-4 control-label">驗證碼：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="validationi">
                </div>
            </div>
            <div style="text-align:center;"><button type="button" class="btn btn-primary">送出訊息</button></div>

         </form>
</div>
    <div id="stone"></div>

</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/GetSingleContent.js?v=1706051']);</script>
}
