﻿@{
    string uploadURL = System.Configuration.ConfigurationManager.AppSettings["uploadURL"].ToString();
}
<style>
    #main { padding: 0 0 100px; }
    .row { margin: 20px 0 20px; }
        .row .content { display: inline-block; padding: 0 0 20px; color: #555; }
        .row .item-block { margin: 0; /*height: 400px;*/ }
    .item-title { height: 40px; color: brown; }
    #header-belt { width: 100%; height: 98px; color: #fff; }
        #header-belt h2 { font-size: 23pt; float: left; line-height: 98px; padding: 0 20px; }
        #header-belt h4 { font-size: 14pt; float: right; line-height: 14px; padding: 0 20px; position: relative; bottom: -45px; }
            #header-belt h4 a, #header-belt h4 a:hover, #header-belt h4 a:focus { color: #fff; text-decoration: underline; }
</style>

<div id="main" v-cloak
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN"
     data-item-guid="@ViewBag.ItemGuid">

    <div id="header-belt" class="k-blue">
        <h2>{{item.Title}}</h2>
        <h4>
            <span v-for="(index,c) in TransRoutePath">
                <a href="/context/{{c.key}}">{{c.val}}</a>
                <b v-if="TransRoutePath.length -1 > index">></b>
            </span>
        </h4>
    </div>

    <div>

        <div class="row">
            <div class="col-md-6 item-block">
                <img :src="item.imgs | formatImgSrcFirst '@uploadURL' '550' '480'" width="100%" />
            </div>
            <div class="col-md-6 item-block">
                <div class="content"><h4>{{{ item.Dscr | formatMDE }}}</h4></div>
            </div>
        </div>
    </div>
</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/details1.js?v=1706051']);</script>
}
