﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}


<div id="main" v-cloak
    data-content-guid="@ViewBag.ContentGuid"
    data-content-sn="@ViewBag.ContentSN"
    data-content-codename="@ViewBag.id"
    data-user="@User.Identity.Name.ToString()">
    目前沒有設定DM
</div>
@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
<script>require(['/Scripts/src/dm-origin.js?v=@codeVersion']);</script>
}