﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
    #main { margin:130px 0 0 ; padding: 0; background-repeat: no-repeat; background-position:center; height:600px;}
    #map {display:none; }
    .header-container { display: none; }
    #store-header { margin: 0 0 16px;}
    .top-panel { width: 100%; padding: 10px; font-size: 18px; margin: 0; border-top-style:solid;  border-top-width: 18px; height: 95px; }
    .top-panel label { font-size:15px; }
    .t-icon { float:right; width:78px; text-align:center; }
    .rating-panel { float:left ; border:solid 0px blue; width:300px; }
    .rating-panel h4 {border-bottom: solid 1px #c6c4c4; padding-bottom:8px; }
    .rating_no { color: #F05102; font-weight:bold; }
    .item-block { height: 1200px; margin: 0; border: solid 1px #ddd;  }
    .shadow-banner-desc { color: #fff; float:right; height: 150px; font-size: 1.3em; line-height: 1.4em; padding: 4px; margin: 10px 0 0 50px; }

    .dscr-head { font-size:2em; width:1em; line-height:1em; margin: 0 auto; height:2.6em;}
    .dscr-belt { height: 6px; width: 30%; margin: 0 35%; }
    .dscr-body { position:relative; top:-12px; margin:5px 0 0 ; padding-top:10px; border-top:solid 1px #fff; }
    .shadow-desc { background-color: #333; opacity: 0.7; color: #fff; height: 400px; font-size: 1.2em; line-height: 1.5em; padding: 16px; }
    .comment_board { border: solid 2px #ccc; width:100%; }
    .comment { border-bottom : solid 1px #ddd; padding: 15px; }
    .article { font-size:1.5em; color:#444; line-height:1.6em; float:left; }
    .profile_photo { float: left; margin: 0 10px 0 0; width: 40px; height: 40px; background-size: 40px 40px; }
    .starRating { float: left; margin: 0 10px 0 0; }
    .relative_time_description { float: left; margin: 0 10px 0 0; }
    .rating_no {font-size:18px; color:dodgerblue; margin: 0 10px; }
    .row{ margin:0; }

    #md-content { position: absolute; top:0; left:20px; background-color:#fff; opacity:0.7; color:#555; padding: 13px 50px; width:100%;}
    .store-name { float:left; font-size:16px; color:#fff; padding:5px 10px; }
    .motionDate { float:left; width: 280px;}
    #bigTitle { float:left;  width:100%; font-size:22px; font-weight:bold; padding-bottom:16px; border-bottom:solid 1px #ccc; }
    #subTitle { float: left; width: 100%; font-size: 17px; }
    #more { background-color: cornflowerblue; color: #fff; font-size: 26px; width: 70px; height: 70px; text-align: center; line-height: 28px; cursor:pointer; position: absolute; top: 16px; right: 20px; border-radius: 5px; z-index: 999; padding: 6px; }
    #more a { text-decoration:none; color:#fff; }

    #m-img { margin: 20px 2%; display:block; width:96%; float:left; padding: 0 0 0 10px;  }

    @@media (min-width: 480px) and (max-width: 768px) {
        #main { height: auto; margin: 160px 0 0; }
    }
    @@media (max-width: 480px) {
        #main {height:auto; margin: 160px 0 0;}
        h4, .h4{font-size: 16px; }
        #bigTitle { font-size: 18px; }
        #subTitle { font-size: 16px; }

        #more { right: 22px; top: 1px; font-size: 18px; width: 56px; height: 56px; text-align: center; line-height: 22px; }
        #md-content {left:20px; padding:0 15px; }
        #m-img { margin: 10px auto; float: inherit; padding: 0; }
    }

</style>

<div id="main" v-cloak
    data-content-guid="@ViewBag.ContentGuid"
    data-content-sn="@ViewBag.ContentSN"
    data-content-codename="@ViewBag.id"
    data-user="@User.Identity.Name.ToString()">
         @*v-bind:style="{ 'background-image' : 'url(@uploadURL/' + dm1.firstImg.FileNameNew + '?w=980&mode=crop)' }"*@
        <img id="m-img" v-bind:src="'@uploadURL/' + dm1.dm1Img.FileNameNew + '?w=800'" />
    <div id="md-content">
        <div id="more"><a v-bind:href="store.marketingUrl" target="_blank">更多優惠</a></div>
        <div class="store-name" v-bind:style="{ 'background-color' : store.color }">{{store.name}}</div> 
        <div class="motionDate"><h4 style="padding: 3px;"><i class="ui clock icon"></i>{{dm1.startDate | formatDate}} ~ {{dm1.endDate | formatDate}}</h4></div>
        <div id="bigTitle">{{dm1.Title}}</div>
        <div id="subTitle">{{dm1.Subtitle}}</div>
    </div>
</div>
@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
<script>require(['/Scripts/src/dm.js?v=@codeVersion']);</script>
}