﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
    #main { margin:0 auto; padding: 0px; background-repeat: no-repeat; background-position:center; height:900px; width:100%;}
#map {display:none; }
    .header-container { display: none; }
    #store-header { margin: 0 0 16px;}
    .top-panel { width: 100%; padding: 10px; font-size: 18px; margin: 0; border-top-style:solid;  border-top-width: 18px; height: 95px; }
    .top-panel label { font-size:15px; }
    .t-icon { float:right; width:78px; text-align:center; }
    .rating-panel { float:left ; border:solid 0px blue; width:300px; }
    .rating-panel h4 {border-bottom: solid 1px #c6c4c4; padding-bottom:8px; }
    .rating_no { color: #F05102; font-weight:bold; }
    .item-block { height: 1200px; margin: 0; border: solid 1px #ddd;  }
    .shadow-banner-desc { color: #fff; float:right; height: 150px; font-size: 1.3em; line-height: 1.4em; padding: 4px; margin: 10px 0 0 50px; }

    .dscr-head { font-size:2em; width:1em; line-height:1em; margin: 0 auto; height:2.6em;}
    .dscr-belt { height: 6px; width: 30%; margin: 0 35%; }
    .dscr-body { position:relative; top:-12px; margin:5px 0 0 ; padding-top:10px; border-top:solid 1px #fff; }
    .shadow-desc { background-color: #333; opacity: 0.7; color: #fff; height: 400px; font-size: 1.2em; line-height: 1.5em; padding: 16px; }
    .comment_board { border: solid 2px #ccc; width:100%; }
    .comment { border-bottom : solid 1px #ddd; padding: 15px; }
    .article { font-size:1.5em; color:#444; line-height:1.6em; float:left; }
    .profile_photo { float: left; margin: 0 10px 0 0; width: 40px; height: 40px; background-size: 40px 40px; }
    .starRating { float: left; margin: 0 10px 0 0; }
    .relative_time_description { float: left; margin: 0 10px 0 0; }
    .rating_no {font-size:18px; color:dodgerblue; margin: 0 10px; }
    .row{ margin:0; }

    #md-content { position: absolute; top:0; left:0; background-color:transparent; opacity:1; color:#555; padding: 0; width:100%;}
    .store-name { float:left; font-size:16px; color:#fff; padding:5px 10px; }


    #block1, #block2 { float: right;  font-weight: bold; background-color: #222; opacity: 0.75; color: #fff;  margin: 50px 110px 0 0; }
    #block1 { font-size: 42px; padding: 5px; position: absolute; top: 10px; left: 40%; width: 60%; }
    #block2 { position: relative; z-index: 9999; top: 530px; width: 60%; font-size: 18px; padding: 10px; -webkit-box-align: 30px; margin-top: 0; left: -22%; }
        #block2 pre { background-color: #222; color: #fff; font-size: 18px; border-style:none; }
    #block2-dot { position: relative; top:460px; left: 4%; float:left; width: 84px; height: 84px; border-radius: 120px; background-color: #fff; color: #333; font-size: 28px; text-align: center; border: solid 5px gold; z-index: 99999; padding:7px; line-height:28px; }
    #bigTitle { float: left; width: 100%; font-size: 40px; }
    #subTitle { float: left; width: 100%; font-size: 18px; margin:0px; }
    .motionDate { float: left; color:gold; font-size:32px; width:100%; }
    #m-img { width: 90%; margin: 0px auto; display:block; }

    #more { background-color: cornflowerblue; color: #fff; font-size: 26px; width: 70px; height: 70px; text-align: center; line-height: 28px; cursor:pointer; position: absolute; top: 16px; right: 136px; border-radius: 5px; z-index: 999; padding: 6px; }
    #more a { text-decoration:none; color:#fff; }
    #left-curv { position:absolute; top:0; left:0px; z-index:999; float:left; height:700px; border:solid 0px #ddd; background-color:transparent; }

    @@media (max-width: 480px) {
        #md-content { position: absolute; top: 0; left: 0px; } 
        #left-curv { position: absolute; top: 0; left: -60px; z-index: 999; float: left; height: 660px; border: solid 0px #ddd; background-color: transparent; }
        #subTitle { font-size:16px; }
        #m-img { width: 100%; left: 0px; position: absolute; margin: 20px auto; top: 140px; }
        #block1 { position: absolute; top: -45px; right: -120px; border-top-left-radius:30px; width: 86%; font-size: 9px; padding: 10px; }
        #block2 { left: -20%; border-bottom-left-radius :50px;}
        #block2-dot { width: 74px; height: 74px; font-size: 24px; line-height:25px; }
        #bigTitle { float: left; width: 100%; font-size: 22px; }
    }
</style>

<div id="main" v-cloak
    data-content-guid="@ViewBag.ContentGuid"
    data-content-sn="@ViewBag.ContentSN"
    data-content-codename="@ViewBag.id"
    data-user="@User.Identity.Name.ToString()"
         @*v-bind:style="{ 'background-image' : 'url(@uploadURL/' + dm1.firstImg.FileNameNew + '?w=980&mode=crop)' }"*@>

    
    <div id="md-content">
        <img src="~/Content/Images/yellow-curv.png" id="left-curv" />
        <img id="m-img" v-bind:src="'@uploadURL/' + dm1.dm2Img.FileNameNew + '?w=800'" />
        
        <div id="block1">
            <span id="bigTitle">{{dm1.Title}}</span>
            <span id="subTitle">{{dm1.Subtitle}}</span>
            <div class="motionDate">
                <b>{{dm1.startDate | formatDate}} ~ {{dm1.endDate | formatDate}}</b>
            </div>
        </div>
    </div>

    <div id="block2-dot">活動內容</div>
    <div id="block2">
        
        <pre>{{dm1.Name}}</pre>
    </div>

</div>
@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
<script>require(['/Scripts/src/dm.js?v=@codeVersion']);</script>
}