﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
    #main { margin:0 ; padding: 0px; background-repeat: no-repeat; background-position:center; height:600px;}
#map {display:none; }
    .header-container { display: none; }
    #store-header { margin: 0 0 16px;}
    .top-panel { width: 100%; padding: 10px; font-size: 18px; margin: 0; border-top-style:solid;  border-top-width: 18px; height: 95px; }
    .top-panel label { font-size:15px; }
    .t-icon { float:right; width:78px; text-align:center; }
    .rating-panel { float:left ; border:solid 0px blue; width:300px; }
    .rating-panel h4 {border-bottom: solid 1px #c6c4c4; padding-bottom:8px; }
    .rating_no { color: #F05102; font-weight:bold; }
    .item-block { height: 1200px; margin: 0; border: solid 1px #ddd;  }
    .shadow-banner-desc { color: #fff; float:right; height: 150px; font-size: 1.3em; line-height: 1.4em; padding: 4px; margin: 10px 0 0 50px; }

    .dscr-head { font-size:2em; width:1em; line-height:1em; margin: 0 auto; height:2.6em;}
    .dscr-belt { height: 6px; width: 30%; margin: 0 35%; }
    .dscr-body { position:relative; top:-12px; margin:5px 0 0 ; padding-top:10px; border-top:solid 1px #fff; }
    .shadow-desc { background-color: #333; opacity: 0.7; color: #fff; height: 400px; font-size: 1.2em; line-height: 1.5em; padding: 16px; }
    .comment_board { border: solid 2px #ccc; width:100%; }
    .comment { border-bottom : solid 1px #ddd; padding: 15px; }
    .article { font-size:1.5em; color:#444; line-height:1.6em; float:left; }
    .profile_photo { float: left; margin: 0 10px 0 0; width: 40px; height: 40px; background-size: 40px 40px; }
    .starRating { float: left; margin: 0 10px 0 0; }
    .relative_time_description { float: left; margin: 0 10px 0 0; }
    .rating_no {font-size:18px; color:dodgerblue; margin: 0 10px; }
    .row{ margin:0; }

    #md-content { background-color:#fff; float:left; opacity:0.8; color:#555; padding: 0px; width:66%; margin-left:33%; }
    #md-content h3{ float:left; color:#333; width:100%; margin: 15px 0 10px;  }

    .store-name { float: left; font-size: 16px; color: #fff; padding: 5px 10px; }
    .motionDate { float:left; width: 100%; padding: 30px 0;}
    #bigTitle { float:left;  width:100%; font-size:22px; font-weight:bold; padding-bottom:16px; border-bottom:solid 1px #ccc; }
    #ac_name { float:left; width:100%; font-size:17px; border: solid 0px #ccc; }
    #subTitle { float: left; width: 100%; font-size: 17px; }
    #more { background-color: cornflowerblue; color: #fff; font-size: 26px; width: 70px; height: 70px; text-align: center; line-height: 28px; cursor:pointer; position: absolute; top: 16px; right: 20px; border-radius: 5px; z-index: 999; padding: 6px; }
    #more a { text-decoration:none; color:#fff; }

    #m-img { margin: 0px auto; display:block; width:80%;  }
    #ac_store_info { font-size:18px; color:#888; float:left; }

    #left-bar-info { float: left; position: absolute; top: 0px; background-color: #444; opacity: 0.85; 
                     width: 200px; border: solid 0px green; height: 430px; font-size: 44px; left: 10%; color: #fff; }
    .store-ac-title { margin: 0; -webkit-writing-mode: vertical-lr; writing-mode: vertical-lr; }
    .motionDate h4 { position: absolute; width: 100%; bottom: -68px; text-align:center; padding: 10px 0; color:#222; font-size:26px; background-color: @ViewBag.StoreColor; font-weight:bold; }
    .d-triangle { position:absolute; bottom :-157px; width: 0; height: 0; border-style: solid; border-width: 100px 100px 0 100px; border-color: @ViewBag.StoreColor transparent transparent transparent; }

    @@media (max-width: 480px) {
        #main {height:auto;}
        #left-bar-info { width: 100px; height: 350px; left:20px; top:30px;}
        .motionDate h4 { font-size:16px; }
        .d-triangle { bottom: -107px; border-width: 50px 50px 0 50px; }
        #ac_name { font-size:14px; }
        #more { right: 22px; top: 1px; font-size: 20px; width: 58px; height: 58px; text-align: center; line-height: 23px; }
        #md-content {left:20px; padding:0 15px; margin-left:0; font-size:16px; width:100%; }
        #m-img { margin: 10px auto; width:95%; float: inherit; padding: 0; }
        #ac_store_info { font-size: 14px; color: #444; float: left;}
    }
</style>

<div id="main" v-cloak
        data-content-guid="@ViewBag.ContentGuid"
        data-content-sn="@ViewBag.ContentSN"
        data-content-codename="@ViewBag.id"
        data-user="@User.Identity.Name.ToString()">
        @*v-bind:style="{ 'background-image' : 'url(@uploadURL/' + dm1.firstImg.FileNameNew + '?w=980&mode=crop)' }"*@
    <img id="m-img" v-bind:src="'@uploadURL/' + dm1.dm3Img.FileNameNew + '?w=800'" />

    <div id="left-bar-info">
        <pre class="store-ac-title">{{dm1.Title}}</pre>
        <div class="motionDate">
            <h4>{{dm1.startDate | formatDate}}<br />|<br>{{dm1.endDate | formatDate}}</h4>
            <div class="d-triangle"></div>
        </div>
    </div>
    <div id="md-content">
        <h3 style="border-bottom: solid 2px {{store.color}}">活動內容</h3>
        <div id="ac_name"><pre>{{dm1.Name}}</pre></div>

        <h3 style="border-bottom: solid 2px {{store.color}}">活動洽詢</h3>
        <div id="ac_store_info">
<pre>
門市電話：{{store.tel}}
門市地址：{{store.address}}
@*這邊寫上營業時間、售票時間*@{{store.note}}
</pre>
        </div>
    </div>
</div>
@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
<script>require(['/Scripts/src/dm.js?v=@codeVersion']);</script>
}