﻿@{
    string uploadURL = System.Configuration.ConfigurationManager.AppSettings["uploadURL"].ToString();
    string codeVersion = System.Configuration.ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<link href="~/Content/css/factoryInfo.css" rel="stylesheet" />
<style>

.ddd3-mobile { display: none; }

/*@@media (min-width: 480px) and (max-width: 768px)  {
.small-block { float: left; width: 11px; height: 18px; margin-right:5px; display: inline-block; }
.shadow-banner-desc { font-size: 0.8em; }
    .shadow-banner-desc h1 { font-size: 1.6em; }
.top-panel { border-top-width: 10px; }
.rating-panel h4 { padding-left: 28px; }
.rating_no { padding-left: 20px; }
.ui.huge.rating { font-size: 1em; }
.t-icon { width: 68px; font-size: 13px; margin: 0; }
.t-icon label { width:70px; border:solid 0px red; }
.top-panel label { font-size: 12px; line-height: 12px; float: left; text-align:center; }
.shadow-desc { font-size: 0.6em; line-height: 0.6em; opacity: 0.9; padding: 8px; height:100%; }
.dscr-head { font-size: 2.2em; width: 3em; line-height: 1em; margin: 0 auto; height: 1.6em; text-align: center; }
.dscr-body { position: relative; top: -12px; margin: 5px 0 0; padding-top: 10px; border-top: solid 1px #fff; height: 100%; }
#ccc-container .item-block { height: 100%; border: solid 1px #aaa; border: solid 4px #fff; 
                                overflow: -webkit-paged-x; }
    #ccc-container .item-block img { height: 205px; width:500px; left:0; position:relative; }
.dscr-body pre { font-size: 12px; line-height: 16px; padding: 0 5px; text-overflow: ellipsis; overflow:hidden; height:78%; }

.article { font-size: 0.9em; color: #444; line-height: 1.2em; float: left; margin:10px 0 0 }
.col-xs-offset-6 { margin-left: 50%; }

.more-dscr { font-size: 14px; padding: 1px 4px; border: solid 0px red; cursor: pointer; position:absolute; bottom:10px; right:0px; }
#more-dscr-panel { width: 90%; padding: 16px; background-color: #444; opacity: 0.95; color: #fff; border: solid 5px green; border-radius: 10px; margin: auto; display: block; position: fixed; top: 10%; left: 5%; height: auto; font-size: 15px; line-height: 20px; z-index: 9999; }

}*/

@@media (max-width: 480px) {
    .ddd3-mobile { display:block; }
    .ddd3-web { display:none; }

    .small-block { float: left; width: 11px; height: 18px; margin-right: 5px; display: inline-block; }
    .shadow-banner-desc { font-size: 0.8em; }
        .shadow-banner-desc h1 { font-size: 1.6em; }
    .top-panel { border-top-width: 10px; }
    .rating-panel h4 { padding-left: 28px; }
    .rating_no { padding-left: 20px; }
    .ui.huge.rating { font-size: 1em; }
    .t-icon { width: 68px; font-size: 13px; margin: 0; }
        .t-icon label { width: 70px; border: solid 0px red; }
    .top-panel label { font-size: 12px; line-height: 12px; float: left; text-align: center; }
    .shadow-desc { font-size: 0.6em; line-height: 0.6em; opacity: 0.9; padding: 8px; height: 100%; }
    .dscr-head { font-size: 2.2em; width: 3em; line-height: 1em; margin: 0 auto; height: 1.6em; text-align: center; }
    .dscr-body { position: relative; top: -12px; margin: 5px 0 0; padding-top: 10px; border-top: solid 1px #fff; height: 100%; }
    #ccc-container .item-block { height: 100%; border: solid 1px #aaa; border: solid 4px #fff; overflow: -webkit-paged-x; }
        #ccc-container .item-block img { height: 205px; width: auto; left: 0; position: relative; }
    .dscr-body pre { font-size: 12px; line-height: 16px; padding: 0 5px; text-overflow: ellipsis; overflow: hidden; height: 78%; }

    .article { font-size: 0.9em; color: #444; line-height: 1.2em; float: left; margin: 10px 0 0 }
    .col-xs-offset-6 { margin-left: 50%; }

    .more-dscr { font-size: 14px; padding: 1px 4px; border: solid 0px red; cursor: pointer; position: absolute; bottom: 10px; right: 0px; }
    #more-dscr-panel { width: 90%; padding: 16px; background-color: #444; opacity: 0.95; color: #fff; border: solid 5px green; border-radius: 10px; margin: auto; display: block; position: fixed; top: 10%; left: 5%; height: auto; font-size: 15px; line-height: 20px; z-index: 9999; }
}

</style>
<div id="main" v-cloak
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN"
     data-content-codename="@ViewBag.id"
     data-user="@User.Identity.Name.ToString()">

    <div class="row">
        <div class="col-md-12" style="padding:0;"
             
             v-for="(index,c) in findBanner(imgs)">
             @*v-bind:style="{ 'background-image' : 'url(@uploadURL/' + c.FileNameNew + '?w=440&mode=crop)' }"*@
            <img :src="'@uploadURL/' + c.FileNameNew" style="width:100%;"  alt="" />
            <div class="row">
                <div class="shadow-banner-desc">
                    <h1><b class="small-block" v-bind:style="{ 'background-color' : ''+ store.color +'' }"></b>{{store.name}}</h1>
                    <pre>{{c.Dscr | formatBanner}}</pre>
                </div>
            </div>
        </div>
    </div>
    
    <div id="store-header" class="top-panel" v-bind:style="{ 'border-top-color' : ''+ store.color +'' }">
        <div class="rating-panel" v-if="!(isCloseComment == 'Y') ">
            <h4>遊客評論 </h4>
            <span class="rating_no" v-if="isCloseComment == 'Y'">{{rating}}</span>
            <div class="ui star huge rating" data-rating={{Math.round(rating)}} data-max-rating="5"></div>
            <div id="map"></div>
        </div>
        <div class="t-icon" @@click="gotoFB()">
            <span class="fa-stack fa-lg">
                <i style="color:#3859AA;" class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            <label>前往臉書</label>
        </div>
        <div class="t-icon" @@click="gotoWeb()">
            <span class="fa-stack fa-lg">
                <i style="color:#F84E57;" class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
            </span>
            <label>前往官網</label>
        </div>
        <div class="t-icon" @@click="discountInfo()">
            <span class="fa-stack fa-lg">
                <i style="color:#00A8C7;" class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-money fa-stack-1x fa-inverse"></i>
            </span>
            <label>優惠資訊</label>
        </div>
        <div class="t-icon" @@click="gotoNavigator(store.id)">
            <span class="fa-stack fa-lg">
                <i v-bind:style="{ 'color' : isFavorColor}" class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-car fa-stack-1x fa-inverse"></i>
            </span>
            <label>導航</label>
        </div>
    </div>


    <div id="ccc-container">
        <div class="row ddd3-web" v-for="(index,c) in find3Func(imgs)" track-by="$index">
            <div class="col-md-12 col-xs-12 item-block" 
                 v-if="c.Dscr != null" >
              <img :src="'@uploadURL/' + c.FileNameNew"  alt="" />
              <div class="col-xs-6 col-xs-offset-{{(index % 2 == 0 )?0:6}} col-md-3 col-md-offset-{{(index % 2 == 0 )? 1:8 }} shadow-desc "> 
                  <b class="more-dscr" 
                     v-if="isMoreDscr(c.Dscr)"
                     @@click="sendMoreDscr(c.Dscr)"><更多></b>
                  <div class="dscr-head">{{c.Dscr | formatTag }}</div>
                  <div class="dscr-belt"  v-bind:style="{ 'background-color' : ''+ store.color +'' }"></div>
                  <div class="dscr-body"><pre>{{c.Dscr | formatBanner}}</pre></div>
              </div>  
            </div>
        </div>

        <!--手機板-->
        <div class="row ddd3-mobile" v-for="(index,c) in find3FuncMobile(imgs)" track-by="$index">
            <div class="col-md-12 col-xs-12 item-block"
                 v-if="c.Dscr != null">
                <img :src="'@uploadURL/' + c.FileNameNew + '' " alt="" />
                <div class="col-xs-6 col-xs-offset-{{(index % 2 == 0 )?0:6}} col-md-3 col-md-offset-{{(index % 2 == 0 )? 1:8 }} shadow-desc ">
                    <b class="more-dscr"
                       v-if="isMoreDscr(c.Dscr)"
                       @@click="sendMoreDscr(c.Dscr)"><更多></b>
                    <div class="dscr-head">{{c.Dscr | formatTag }}</div>
                    <div class="dscr-belt" v-bind:style="{ 'background-color' : ''+ store.color +'' }"></div>
                    <div class="dscr-body"><pre>{{c.Dscr | formatBanner}}</pre></div>
                </div>
            </div>
        </div>



        <div id="comment_board"  v-if="!(isCloseComment == 'Y')">
            <div v-for="p in placeInfo" class="comment row">
                <div class="title col-lg-2 col-md-4 col-xs-12">
                    <div class="author">
                        @*<div class="author_name">{{ p.author_name }}</div>*@
                        <div class="profile_photo" v-bind:style="{ 'background-image': 'url(' + p.profile_photo_url + ')' }"></div>
                    </div>
                    <div class="ui star rating starRating" data-rating={{p.rating}} data-max-rating="5"></div>
                    <div class="relative_time_description">{{ p.relative_time_description }}</div>
                </div>
                <div class="article col-lg-10 col-md-8 col-xs-12">
                    {{ p.text }}
                </div>
            </div>
        </div>

        <div id="store-header" class="top-panel" v-bind:style="{ 'border-top-color' : ''+ store.color +'' }">
            <div class="t-icon" @@click="gotoFB()">
                <span class="fa-stack fa-lg">
                    <i style="color:#3859AA;" class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                <label>前往臉書</label>
            </div>
            <div class="t-icon" @@click="gotoWeb()">
                <span class="fa-stack fa-lg">
                    <i style="color:#F84E57;" class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <label>前往官網</label>
            </div>
            <div class="t-icon" @@click="discountInfo()">
                <span class="fa-stack fa-lg">
                    <i style="color:#00A8C7;" class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                </span>
                <label>優惠資訊</label>
            </div>
            <div class="t-icon" @@click="gotoNavigator(store.id)">
                <span class="fa-stack fa-lg">
                    <i v-bind:style="{ 'color' : isFavorColor}" class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <label>導航</label>
            </div>
        </div>

    </div>

    <div id="more-dscr-panel" 
          v-if="isSharedDscrShow"
          v-bind:style="{ 'border-color' : ''+ store.color +'' }">
        <span class="fa-stack fa-lg close-dscr-btn" @@click="closeDscrPanel()">
            <i style="color:#333;" class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
        </span>
        <pre>{{shared_dscr}}</pre>
    </div>

    <script>
         var map,
            o_placeInfo,
            o_rating,
            place = {},
            request = {
                placeId: '@ViewBag.PlaceID'
            };
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWBApYiHHk50f7LsqEKUMX_nUG30sSqFA&libraries=places&callback=initMap">
    </script>

    <script type="text/javascript">

        function initMap() {
            var pyrmont = { lat: 24.903236, lng: 121.844234 };

            map = new google.maps.Map(document.getElementById('map'), {
                center: pyrmont,
                zoom: 17
            });
            place = new google.maps.places.PlacesService(map);
        }

    </script>

</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
    <script src="~/Scripts/src/mixin/upload.js?v=@codeVersion"></script>
    <script>require(['/Scripts/src/factory2.js?v=@codeVersion']);</script>
}
