﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<style>

#main { padding:0 0 0; }
    #menu-m-btns { display: none; }
    .mainland-web { display: block; }
    .mainland-mobile { display: none; }

    #main-top-banner { border: solid 0px red; padding: 0 3px; }
    #main-top-banner img { width:100%; }
    #main-top-banner img.im-mobile { display:none; }

        .row { margin: 20px -15px 100px; }
.row .content { display: inline-block; padding: 20px 0; color: #888; font-size: 15px; }
.big3itme { background-position:center; background-repeat:no-repeat;cursor:pointer; border: solid 3px #fff;  }

@@media (min-width: 768px) {
    .col-md-4 { width: 33.33%; padding: 0 2px; }
}
@@media (min-width: 480px) and (max-width: 768px) {
    .mainland-web { display: block; }
    .mainland-mobile { display: none; }
}

@@media (max-width: 480px) {
    .mainland-web { display: none; }
    .mainland-mobile { display: block; }
    #main {height:auto;}
    .big3itme { margin: 0 -15px;}
    .big3itme.auto-height { height: auto; }
}


</style>

<div id="main" class="row mainland-web" >   
    <div class="col-xs-12" id="main-top-banner">
        <img class="im-mobile" src="~/Content/Images/首頁/首頁BANNER(PHONE).jpg" />
        <img class="im-web" src="~/Content/Images/首頁/BANNER1.jpg?h=330&mode=crop" />
    </div>
    <div class="col-xs-4 big3itme" 
            v-for="(index,m) in Images" @@click="goToLink(index)"
            v-bind:class="{ active : (index==0) }"
            v-bind:style="{ 'background-image' : 'url(@uploadURL/' + m.FileNameNew + '?w=446&h=720&mode=crop)' }" >    
    </div>
</div>

<div id="main" class="row mainland-mobile">
    <div class="col-xs-12" id="main-top-banner">
        <img src="~/Content/Images/首頁/首頁BANNER(PHONE).jpg" />
    </div>
    <div @@click="goToLink(0)"  class="col-md-4 big3itme auto-height">
        <img class="mj" src="../Content/Images/首頁/Mobile3.png" />
    </div>
    <div @@click="goToLink(1)"  class="col-md-4 big3itme auto-height">
        <img class="mj" src="../Content/Images/首頁/Mobile2.png" />
    </div>
    <div @@click="goToLink(2)"  class="col-md-4 big3itme auto-height">
        <img class="mj" src="../Content/Images/首頁/Mobile1.png" />
    </div>

</div>


@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
<script>require(['/Scripts/src/swpcl.js?v=@codeVersion']);</script>
}
