﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
    Layout = null;
}
<style>
    #main { padding-bottom: 10px; }
    #map {
        height: 400px;
        width: 100%;
       }
</style>

<div v-cloak id="main" 
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN">
    <div id="map"></div>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWBApYiHHk50f7LsqEKUMX_nUG30sSqFA&libraries=places&callback=initMap">
    </script>
    <script>
        function initMap() {
            var uluru = { lat: 24.706, lng: 121.778 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
        
    </script>
</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/GetSingleContent.js?v=@codeVersion']);</script>
}
