﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
body { background-color:#f4d090;  }
#main { padding:0px 0 200px;}   
.row { margin: 20px -15px 20px; }
    .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
    .row .item-block { border: solid 1px #ccc; margin: 0; padding: 10px; margin: 0 0 25px; background-color:#fff; height:420px;}
.item-title { height: 40px; color: brown; font-size:1em; }
.title { display:inline-block; width:100%; font-size:18px; color:#666;}
.subtitle { display:inline-block; width:100%; font-size:14px; color:#999; line-height:20px; height:60px; float:left; }
.addCart { cursor:pointer; font-size:11px; }
.red { color:lightcoral; }
b.red { line-height:20px; }
.red { color:red;}
.typ-panel { background-color:#fff; border-radius:5px; padding:10px; font-size:16px; }
.typo { padding: 0; margin:3px; border:solid 0px #ddd;}
.typ-cc { font-size:14px; border:solid 1px #aaa; float:right; text-align: right; width:30px; line-height:20px; margin: 7px 0; padding:3px; }

#header-belt { width:100%; height:98px; background-color:#f8b62d; color:#fff;}
#header-belt h2 { font-size: 23pt; float:left; line-height: 98px; padding: 0 20px;}
#header-belt h4 { font-size: 14pt; float:right; line-height: 14px; padding: 0 20px; position:relative; bottom:-60px;}
    #header-belt h4 a, #header-belt h4 a:hover, #header-belt h4 a:focus { color: #fff; text-decoration: underline; }
</style>

<div v-cloak id="main" 
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN"
     data-aan="@aan">
    <div id="cSMIF" data-pageType="market"></div>
    <div id="header-belt">
        <h2>{{Content.BigTitle}}</h2>
        <h4 style="margin-top:-10px;"><a href="/context/purchase">好識好物專區</a> > {{Content.BigTitle}}</h4>
    </div>
    <div>


        <div class="row">
            <div class="col-md-10">
                <div class="col-md-3" v-for="c in items" v-cloak>
                    <div class="item-block">
                        <img :src="c.firstImg.FileNameNew | formatImgSrc '@uploadURL' '300' 280"  width="100%" />
                        <span class="title">{{c.Title}}</span>
                        <span class="subtitle">{{c.Subtitle}}</span>
                        <p>{{c.Dscr}}</p>
                        <b class="red">原價 NT$ {{c.Cost}}</b><br />
                        <b class="red" v-show="c.Cost2>0">折扣 NT$ {{c.Cost2}}</b><br />

<i v-show="c.isFavor==0" class="ui large empty heart icon" v-on:click="addCartFavor(c.SN,'favor')"></i>
<i v-show="c.isFavor>0" class="ui large red heart icon" v-on:click="removeCartFavor(c.SN,'favor')"></i>
{{c.iFavorsCC}} 人
<i v-bind:class="[(c.isCart==0)? ' add to ':' in ' ]"
    class="ui large cart icon"></i>
<span v-show="c.isCart==0" class="addCart" v-on:click="addCartFavor(c.SN, 'cart')">加入購物車 </span>
<span v-show="c.isCart>0" class="addCart" v-on:click="removeCartFavor(c.SN, 'cart')">已加入</span>
                        

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="typ-panel">
                    <h4 class="k-mustard">產品分類 {{myCartCC}} {{currContentSN}}</h4>
                    <div v-for="c in ProdTyps" class="typo">
                        {{c.Typ}} 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="stone"></div>

</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/GetSingleContent.js?v=@codeVersion']);</script>
}
