﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
body { background-color:#fff;  }
#main { padding:0 10px; height:auto;}   

hr {border: 2px;}
    h2.tt { border-bottom: solid 1px #528BDB; color: #528BDB; padding-bottom:4px; text-align:center; }
.item-title { height: 40px; color: brown; font-size:1em; }
.title { display:inline-block; width:100%; font-size:18px; color:#666;}
.subtitle { display:inline-block; width:100%; font-size:14px; color:#999; line-height:20px; height:60px; float:left; }
#market-query label { font-size: 18px; }
    #txt-date { width:180px; }
    #market-query input { font-size: 18px; padding: 3px 5px; border: solid 1px #ccc; border-radius: 3px; }
.red { color:lightcoral; }
    .market_item { border:solid 1px #999; border-radius:4px; margin: 10px 0 30px; padding: 0 0 20px; text-align:center; background-color:#eee; }
    .market_store_name  { border-bottom: solid 1px #777; padding:10px; margin:0 20px; font-size:20px;}
    .market_color_bar { margin: 0 35%; height: 8px; width: 30%; float: left; border: solid 1px #aaa; top: -4px; position: relative; }
    .market_store_title { margin-bottom: 20px; height: 40px; text-align: center; } 
    #market-query label { display: inline-block; margin: 0 5px; }
    a.no-deco { text-decoration:none; cursor:pointer; }

    .row.query label {width: 110px; text-align:right;  }
    .row.query div { margin:4px 0;}
    .m_img { width:100%; margin: 0 0 20px; }
    .m_img.mobile { display: none; }
    /*手機板*/
    @@media (max-width: 480px) {
        .m_img.web { display: none; }
        .m_img.mobile { display: block; }
        h2.tt { font-size:25px; }
    }

</style>

<div v-cloak id="main" 
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="95"
     data-aan="@aan">
    <div id="cSMIF" data-pageType="market"></div>
    

    <img class="m_img mobile" src="~/Content/Images/new0330/行銷優惠-BANNER(PHONE).jpg" />
    <img class="m_img web" src="~/Content/Images/new0330/行銷優惠-BANNER(WEB).jpg" />
    <div id="market-query">
        <div class="row query" >
            <div class="col-xs-12 col-md-6">
                <label>優惠日期：</label>
                <input type="date" id="txt-date" v-model="queryDate" />
            </div>
            <div class="col-xs-12 col-md-6">
                <label>關鍵字查詢：</label>
                <input type="text" id="txt-keyword" v-model="queryKeyword" />
            </div>
        </div>
    </div>

    <hr />
    <h2 class="tt">聯合優惠</h2>
    <div class="row">
        <div class="col-md-4 " v-for="c in shared">
            <div class="market_item">
                <div class="market_image">
                    <img :src="c.mainImage.FileNameNew | formatImgSrc '@uploadURL' '300' 180" width="100%" />
                </div>
                <h3 class="market_store_name">{{c.store.name}}</h3>
                <div class="market_color_bar" v-bind:style="{ 'background-color' : c.BgColor }"></div>
                <h4 class="market_store_title">{{c.Title}}</h4>
                <div class="market_date"><i class="ui clock icon"></i>{{ c.startDate | formatDate }} ~ {{ c.endDate | formatDate }}</div>
            </div>
        </div>

    </div>
    <hr />
    <h2 class="tt">各家優惠</h2>
    <div class="row">
        <div class="col-md-4 " v-for="c in individual">
            <a href="/DM/{{c.store.codeName}}" class="no-deco"><div class="market_item">
                <div class="market_image" >
                    <img :src="c.mainImage.FileNameNew | formatImgSrc '@uploadURL' '300' 180" width="100%" />
                </div>
                <h3 class="market_store_name">{{c.store.name}}</h3>
                <div class="market_color_bar" v-bind:style="{ 'background-color' : c.store.color }"></div>
                <h4 class="market_store_title">{{c.Title}}</h4>
                <div class="market_date"><i class="ui clock icon"></i>{{ c.startDate | formatDate }} ~ {{ c.endDate | formatDate }}</div>
            </div></a>
        </div>

    </div>

</div>

@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script>require(['/Scripts/src/mixin/m.js?v=@codeVersion']);</script>
<script src="~/Scripts/src/mixin/upload.js?v=@codeVersion"></script>
<script>require(['/Scripts/src/store.js?v=@codeVersion']);</script>
}
