﻿@{
    string uploadURL = System.Configuration.ConfigurationManager.AppSettings["uploadURL"].ToString();
}
<style>
    #main { padding-bottom: 10px; background-color:#e6bebe; }
    .row { margin: 20px -15px 20px; }
        .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
        .row .item-block { border: solid 0px #eee; margin: 0; }
    .item-title { height: 40px; color: brown; }
    .carousel-caption { position: absolute; right: 15%; top: 20px; left: 15%; z-index: 10; padding-top: 20px; padding-bottom: 20px; color: #444; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); font-size:20px; font-weight:bold;   }
    #carousel-example-generic { margin: 20px 0 0; padding:0; }
    .carousel-my-dscr { font-size:21px; font-weight:bold; text-align:center; color:#555; padding: 20px; }
    .item-img-c { text-align:center; margin: 0 ; border: solid 0 #ddd; border-radius:5px; }
    .ppTitle * { text-align:center; }
    .pp { border: solid 0 #aaa;}
    .pbox {border: solid 1px #fff; width:280px; border-radius:10px; margin:0 auto 30px; word-break:break-all; letter-spacing: 3px; word-wrap: break-word;
text-align: justify;
text-justify: inter-ideograph;
-ms-text-justify: inter-ideograph; /*IE9*/
-webkit-text-align-last: justify; /*Chrome*/
-moz-text-align-last: justify; /*Firefox*/
    }
    .pbox:after { content: ''; display: inline-block; width: 100%; }

    .item-p { padding: 0 10px; margin:2px; height:150px; color:#555; font-size:16px; overflow:hidden; text-align:left;}
    .pcolr1 { background-color: #F0C044; }
    .pcolr2 { background-color: #D5C651; }
    .pcolr3 { background-color: #F5BBD1; }
    .pcolr4 { background-color: #4CBCD4; }
    .pcolr5 { background-color: #AEC058; }

        #header-belt { width: 100%; height: 98px; color: #fff; }
        #header-belt h2 { font-size: 23pt; float: left; line-height: 98px; padding: 0 20px; }
        #header-belt h4 { font-size: 14pt; float: right; line-height: 14px; padding: 0 20px; position: relative; bottom: -45px; }
            #header-belt h4 a, #header-belt h4 a:hover, #header-belt h4 a:focus { color: #fff; text-decoration: underline; }

</style>

<div v-cloak id="main"
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN">
    <div id="header-belt" class="k-green">
        <h2>{{Content.BigTitle}}</h2>
        <h4>
            <span v-for="(index,c) in TransRoutePath">
                <a href="/context/{{c.key}}">{{c.val}}</a>
                <b v-if="TransRoutePath.length -1 > index">></b>
            </span>
        </h4>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4" v-for="c in Content2">
            <div class="pp">
                <img class="item-img-c" v-for="m in c.imgs" :src="m.FileNameNew | formatImgSrc '@uploadURL' 340 340" width="100%" />
            </div>
            <div class="ppTitle">
                <h1>{{{ c.BigTitle | formatMDE }}}</h1>
                <h3 v-for="s in c.SubTitle | splitSubTitle">{{s}}</h3>
            </div>
        </div>
    </div>

    <div>
        <div class="row" v-for="c in Content2" style="text-align:center;">
            <hr />
            <h2>{{c.BigTitle}}</h2>
            <h2>{{{c.Body | formatMDE}}}</h2>
            <div class="col-md-4" v-for="(index,t) in c.items">
                <div class="pcolr{{ index + 1 }} pbox">
                    <h3 style="text-align:center;">{{t.Title}}</h3>
                    <img class="item-img-c" :src="t.itemImgs[0].FileNameNew | formatImgSrc '@uploadURL' 280 280" />
                    <div class="item-p">{{{ t.Dscr | formatMDE }}}</div>
                </div>
            </div>
        </div>
    </div>

</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/GetSingleContent.js?v=170521']);</script>
}

