﻿@{
    string uploadURL = System.Configuration.ConfigurationManager.AppSettings["uploadURL"].ToString();
}
<style>
    #main { padding: 0px 0 100px; }
    .row { margin: 0; }
        .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
        .row .item-block { border: solid 0px #ddd; margin: 0; /*height: 400px;*/ }
            .row .item-block img { display: block; margin: 20px auto; }
    .item-title { height: 40px; color: brown; }
    .see-more-content { float: right; font-size: 14px; padding: 5px 20px; background-color: green; color: #fff; font-weight: bold; border-radius: 5px; }
    .see-more-this-item { text-align: center; font-size: 14px; line-height: 19px; color: #4800ff; font-weight: bold; width: 100%; display: inline-block; }
    blockquote { background-color: #148c99; color: #fff; border-radius: 14px; width: 670px; margin: 20px 10px; }
    #header-belt { width: 100%; height: 98px; color: #fff; }
        #header-belt h2 { font-size: 23pt; float: left; line-height: 98px; padding: 0 20px; }
        #header-belt h4 { font-size: 14pt; float: right; line-height: 14px; padding: 0 20px; position: relative; bottom: -45px; }
            #header-belt h4 a, #header-belt h4 a:hover, #header-belt h4 a:focus { color: #fff; text-decoration: underline; }

    .qr_title { text-align: center; }
    .subtitle{ color:#999; font-size:13px;}
    .mm-big-title { background-color:#ff6a00; color:#fff; padding:10px;}
    .overflowtxt { width:100%; max-height:350px; overflow:auto; border: solid 1px #aaa;}
    #memberMenu { margin:0; padding:0; border:solid 1px #ddd; width:100%;}
    #memberMenu li { list-style-type:none; padding:2px 5px; text-align:left; font-size:16px; background-color:#edf61b; width:100%; border: solid 1px #fff; cursor:pointer; }
    #memberMenu li:hover{  border: solid 1px green;}
        #memberMenu li.selected { background-color: #efe592; }

</style>

<div v-cloak id="main"
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN">

    @*<h4>{{{ Content.Body | formatMDE }}}</h4>*@
    <div class="row">
        <div class="col-md-2">
            <ul id="memberMenu">
                <li v-for="d in menus"
                    :class=" (d.id==currBlockId)? 'selected': '' "
                    @@click="clickSelectBlock(d.id)">{{d.Name}}</li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row" v-if="currBlockId==1">
                <h3 class="mm-big-title">會員權益</h3>
                <div class="col-md-12 overflowtxt">
                    <div>{{{memberRight | formatMDE }}}</div>
                </div>
            </div>

            <div class="row" v-if="currBlockId==2">
                <h3 class="mm-big-title">追蹤的訂單</h3>
            </div>

            <div class="row" v-if="currBlockId==3">
                <h3 class="mm-big-title">喜歡的商品</h3>
                <table class="ui table red">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>商品名稱</th>
                            <th>原價</th>
                            <th>折扣價</th>
                            <th>加入最愛的時間</th>
                            <th>產品最近異動日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(index,c) in Favors">
                            <td>{{index + 1}}</td>
                            <td><img :src=" c.firstImg | formatImgSrc '@uploadURL' '150' '80' " /></td>
                            <td>{{c.title}}<br /><span class="subtitle">{{c.subtitle}}</span></td>
                            <td>{{c.Cost}}</td>
                            <td>{{c.Cost2}}</td>
                            <td>{{c.insertDate | formatDateTime}}</td>
                            <td>{{c.updateDate | formatDateTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" v-if="currBlockId==4">
                <h3 class="mm-big-title">個人資料</h3>
                <div class="col-md-4">
                    <h4><a href="/account/resetpassword">修改密碼</a></h4>
                </div>
                <div class="col-md-4">
                    <h4><a href="/context/updateMember">修改基本資料</a></h4>
                </div>
            </div>

            <div class="row" v-if="currBlockId==5">
                <h3 class="mm-big-title">退換貨流程</h3>
                <div class="col-md-12 overflowtxt">
                    <div>{{{ returnFlow | formatMDE }}}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="stone"></div>

</div>

@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/member.js?v=170605']);</script>
}
