﻿@using System.Configuration;
@using Microsoft.AspNet.Identity
@{
    Layout = null;
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string hostUrl = ConfigurationManager.AppSettings["HostUrl"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
    string LoginName = User.Identity.GetUserName().ToString().Replace("@gmail.com", "");
}
<link href="~/Content/css/plantrip.css" rel="stylesheet" />
@*<style>
    [v-cloak] { display: none; }
</style>*@
<div v-cloak id="main"
     data-hostUrl="@hostUrl"
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="95"
     data-aan="@aan"
     data-user="@User.Identity.Name.ToString()">
    <div id="menu-m-btns">
        <a id="homeBtn" @@click="toggleMainBtns()"><img src="~/Content/Images/home.png" /></a>
        <div v-if="isMainBtnsShow" class="subBtns">
            <a href="/">              <img src="~/Content/Images/P0.png" /></a>
            <a href="/tourismFactory"><img src="~/Content/Images/P1.png" /></a>
            <a href="/marketing"><img src="~/Content/Images/P2.png" /></a>
            <a href="/plantrip"><img src="~/Content/Images/P3.png" /></a>
            @if (LoginName == "")
            {
                <a href="/account/login"><img src="~/Content/Images/P4.png" /></a> }
            else
            {
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <img src="~/Content/Images/P5.png" />
                        <b id="logout-icon">@LoginName 登出</b>
                </a>
            }
        </div>
    </div>
    @*@Html.Partial("_LoginPartial")*@
    <div id="cSMIF" data-pageType="market"></div>
    <div id="leftPanel">
        <div class="b-panel">
            <b class="headline-title">第一步：新增行程規劃</b>
            <div class="btns">
                <button v-for="c in btns" class="tripBtn" @@click="clickTripBtn(c.func)">
                    <i class="fa fa-{{c.icon}}"></i>
                    <div>{{c.name}}</div>
                </button>
            </div>
            <b class="headline-title">第二步：輸入起點位置</b>
            <input class="currStartPoint" type="text" v-model="currStartLocation" />
                <button class="saveStartPoint" @@click="saveStartPoint()">儲存</button>
            <b class="headline-title">第三步：載入收藏點或前次紀錄</b>
            @*<span id="currTripCC">目前自訂的行程規劃：{{sharedTrips.length}} 個</span>*@
            <select class="ui dropdown sharedMyFavors" v-model="currFavorTrip">
                <option value="0">我的收藏店家</option>
                <option v-for="c in sharedTrips" :value="c.id">{{c.name}}</option>
            </select>
            @*<button class="ui primary button mySaveFavrBtn" @@click="mySaveFavors()">儲存</button>*@
            <select class="ui dropdown sharedTripBtn" v-model="currUnionMarketing">
                <option value="1">聯合行銷</option>
                <option v-for="c in unionMarketings" :value="c.value">{{c.text}}</option>
            </select>
            <!-------------------------------------->
            <b class="headline-title">第四步：透過上下拖拉排序(會自動儲存)</b>
            <div id="favor-markers">
                <div v-for="(index,c) in storeMakers"
                     :class="[ (c.Typ=='start')?'store-marker':'ittem store-marker']"
                     @@click="ToggleMarkerVisible(c.sn)">
                    <p :class="['love-marker ' + hiddenMarker(c.isVisible)+ ' ' + formatIsLastRed(c.Name, storeMakers)]">
                        {{c | formatDigit2Albat storeMakers}}
                    </p>
                    <p :class="['love-marker-name ' + hiddenMarker(c.isVisible) ]">{{c.Name}}</p>

                    <i :class="[ 'marker-eye fa fa-eye' + eyeSlashed(c.isVisible)]"></i>
                    <b :class="['love-marker-typ '+ getTypMarkerColor(c.Typ) ]" v-if="c.Typ!='favor'">{{c.Typ | formatTypMarkerDisplayName}}</b>
                </div>


            </div>

            <div v-if="storeMakers.length>0 && currFavorTrip != 0">
                <span style="font-size:14px; color:#888;">加入以下標的到您的行程規劃中。</span>
                <button v-for="d in fnBtns" class="fnBtn" @@click="clickOpenTypsMarker(d.func)" v-if="(d.func!='start')">
                    +<i class="fa fa-map-marker {{d.color}}"></i>
                    {{d.name}}
                </button> {{currFavorTrip}}
            </div>

        </div>

    </div>

    <div v-if="isTypMarkersShow" id="TypMarkers">
        <div>
            <span class="typMarkerPanelTitle">宜蘭{{currTypedMarker}}</span>
            <span class="fa-stack fa-lg closeMarkerTypBtn" @@click="closeTypMarkersPanel">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div id="TypMarkersPanel">
            <div class="marker" v-for="c in TypMarkers">
                <i class="fa fa-plus blue marker-typ-icon" @@click="appendTypedMarker(c.id, curr)"></i>{{c.Name}}
            </div>
        </div>
    </div>

    <div id="rightPanel">
        <div v-show="isBeginMap" id="map"></div>
        <div id="warnings-panel"></div>
    </div>

    <script src="https://use.fontawesome.com/387bc2c73b.js"></script>
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
    <script>require(['/Scripts/src/plantrip.js?v=@codeVersion']);</script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWBApYiHHk50f7LsqEKUMX_nUG30sSqFA&callback=initMap"></script>
    <script>
        var map,
            directionsService,
            directionsDisplay,
            markerArray = [],
            stepDisplay;

        function initMap() {
            directionsService = new google.maps.DirectionsService;
            directionsDisplay = new google.maps.DirectionsRenderer;
            stepDisplay = new google.maps.InfoWindow;
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: 24.73332, lng: 121.75059 }
            });

            directionsDisplay.setMap(map);

            //document.getElementById('submit').addEventListener('click', function () {
            //calculateAndDisplayRoute(directionsService, directionsDisplay);
            //});
        }

        var spots = [];
        function calculateAndDisplayRoute(directionsService, directionsDisplay,
            markerArray, stepDisplay, map) {
            // First, remove any existing markers from the map.
            for (var i = 0; i < markerArray.length; i++) {
                markerArray[i].setMap(null);
            }

            var waypts = [];
            var waypts2 = [];
            var icc = 0;
            //var checkboxArray = document.getElementById('waypoints');
            for (var i = 0; i < spots.length; i++) {

                waypts.push({
                    location: spots[i],
                    stopover: true
                });
            }

            icc = waypts.length - 1;

            for (var i = 0; i < waypts.length; i++) {
                if (i > 0 && i < waypts.length - 1) {
                    waypts2.push(waypts[i]);
                }
            }

            console.log("waypts:", waypts, "waypts2", waypts2);

            if (icc > 0) {
                directionsService.route({
                    origin: waypts[0].location,
                    destination: waypts[icc].location,
                    waypoints: waypts2,
                    //optimizeWaypoints: true,
                    travelMode: 'DRIVING'
                }, function (response, status) {
                    if (status === 'OK') {
                        //console.log("routes:", response.routes)
                        document.getElementById('warnings-panel').innerHTML = '<b>' + response.routes[0].warnings + '</b>';
                        directionsDisplay.setDirections(response);
                        //showSteps(response, markerArray, stepDisplay, map);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }
        }

        function showSteps(directionResult, markerArray, stepDisplay, map) {
            // For each step, place a marker, and add the text to the marker's infowindow.
            // Also attach the marker to an array so we can keep track of it and remove it
            // when calculating new routes.
            var myRoute = directionResult.routes[0].legs[0];

            for (var i = 0; i < myRoute.steps.length; i++) {
                var marker = markerArray[i] = markerArray[i] || new google.maps.Marker;
                marker.setMap(map);
                marker.setPosition(myRoute.steps[i].start_location);
                console.log("myRoute:", myRoute.steps)
                attachInstructionText(
                    stepDisplay, marker, myRoute.steps[i].instructions, map);
            }
        }

        function attachInstructionText(stepDisplay, marker, text, map) {
            google.maps.event.addListener(marker, 'click', function () {
                // Open an info window when the marker is clicked on, containing the text of the step.
                //console.log(text)
                stepDisplay.setContent("AAA<br />" + text);
                stepDisplay.open(map, marker);
            });
        }

    </script>
</div>