﻿@using System.Configuration;
@using Microsoft.AspNet.Identity
@{
    Layout = null;
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string hostUrl = ConfigurationManager.AppSettings["HostUrl"].ToString();
    string aan = ConfigurationManager.AppSettings["AdminAliasName"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
    string LoginName = User.Identity.GetUserName().ToString().Replace("@gmail.com", "");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>行程規劃 宜蘭縣觀光工廠發展協會 </title>
    <script src="https://use.fontawesome.com/387bc2c73b.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        [v-cloak] { display: none; }
        .head-img { width: 100%; margin-bottom: 13px; border-bottom: solid 8px #528BDB; }
            .head-img img { width: 100%; }

        #main { width: 96%; padding: 0 10px; }
        #mainPanel { width: 100%; }
        #find-store-panel { margin: 0 0 13px; }
        select.ui.dropdown { font-size: 15px; }

        html * { font-family: 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif; }
        body { background-color: #fff; margin: 0; }
        .body-content { padding-top: 0px; }
        .t-icon { width: 68px; font-size: 13px; margin: 0; float: right; border: solid 0px blue; }
            .t-icon label { width: 28px; border: solid 0px red; text-align: center; }

        .my-login-bar { border: solid 0px red; position: fixed; top: 0px; right: 0px; z-index: 999; margin: 0; text-align: center; }
            .my-login-bar li { width: 110px; height: 38px; border-radius: 100px; margin: 0; background-color: cornflowerblue; list-style: none; float: left; }
                .my-login-bar li a { color: #fff; font-size: 16px; font-weight: 800; text-align: center; margin: 0; padding: 0; line-height: 38px; color: #fff; text-decoration: none; }

        /*------------------------------------------------------------------------------------------------------------------------------------------*/
        #menu-m-btns .subBtns { width: 66px; }

        @@keyframes myfadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        #menu-m-btns { border: solid 0px red; width: 80px; position: fixed; top: 3px; left: -6px; z-index: 9999; }
            #menu-m-btns img { width: 50px; margin: 1px; cursor: pointer; position: relative; left: 0px; top: 0px; border: solid 2px #fff; border-radius: 90px; }
                #menu-m-btns img:hover { border: solid 2px red; border-radius: 90px; }


        .my-login-bar { border: solid 0px red; position: fixed; top: 0px; right: 0px; z-index: 999; }
            .my-login-bar li { width: 110px; height: 38px; border-radius: 100px; margin: 0; background-color: cornflowerblue; }
                .my-login-bar li a { color: #fff; font-size: 16px; font-weight: 800; text-align: center; margin: 0; padding: 0; line-height: 38px; color: #fff; }

        #mylogout { display: none; }
        #myloginUser { display: block; }
        .my-login-bar:hover #mylogout { display: block; background-color: cornflowerblue; }
        .my-login-bar:hover #myloginUser { display: none; }
        #logout-icon { position: relative; top: 0px; text-align: center; float: left; color: blue; font-weight: bold; font-size: 14px; font-weight: bold; }
        /*------------------------------------------------------------------------------------------------------------------------------------------*/

        #currTripCC { float: left; font-size: 12px; color: #555; margin: 5px 0; border-top: solid 1px #aaa; width: 100%; padding-top: 10px; }
        .item-title { height: 40px; color: brown; font-size: 1em; }
        .title { display: inline-block; width: 100%; font-size: 18px; color: #666; }
        .subtitle { display: inline-block; width: 100%; font-size: 14px; color: #999; line-height: 20px; height: 60px; float: left; }
        .red { color: lightcoral; }
        #leftPanel, #rightPanel { float: left; padding: 0; height: 660px; }
        #leftPanel { width: 240px; }
        .btns { margin: 0; padding: 0; }
            .btns .tripBtn { float: left; width: 33%; margin: 0; padding: 0; border: solid 2px #fff; height: 44px; background-color: cornflowerblue; color: #fff; text-align: center; font-size: 12px; cursor: pointer; border-radius: 5px; }
                .btns .tripBtn div { width: 100%; float: left; margin-top: 4px; margin: 4px auto 0; display: block; }

        .b-panel { padding: -10px 0 0; float: left; }
        .sharedTripBtn, .myfavr-btn { width: 270px; margin: 4px 0; padding: 5px; font-size: 0.9em; border: solid 1px #aaa; border-radius: 5px; }
        .myfavr-btn { background-color: cornflowerblue; color: #fff; }
        .opt .sp { padding: 10px; color: blue; }
        .fnBtn { width: 32%; margin: 4px 1% 0 0; border-radius: 4px; background-color: #eee; color: #444; padding: 3px 6px; font-size: 0.8em; }

        #TypMarkers { position: absolute; top: 150px; left: 285px; z-index: 999; width: 250px; height: 360px; background-color: #fff; border: solid 2px #888; }
        #TypMarkersPanel { overflow-y: scroll; max-height: 317px; }
            #TypMarkersPanel .marker { float: left; border-top: solid 1px #ddd; height: 22px; width: 95%; text-align: left; font-size: 15px; padding: 5px; }


        #rightPanel { float: left; width: -moz-calc(100% - 250px); width: -webkit-calc(100% - 250px); background-image: url("../../Content/Images/plantrip-BG.jpg"); background-repeat: no-repeat; background-position: center; background-size: auto; }
        #map { float: left; width: 100%; height: 100%; }


        footer { /*position: fixed; bottom: -10px; left: 0; z-index: 9999;*/ position: static; background-color: #0B478F; color: #fff; padding: 50px 0; width: 100%; text-align: center; }
            footer p { margin: 0; color: #fff; font-size: 0.85em; }
            footer a { color: #fff; }
        #footer-info { display: inline-block; margin: 0 auto; border: solid 0px #aaa; padding: 0; text-align: left; }
            #footer-info .left { float: left; }
                #footer-info .left img { margin: 0 10px; width: 130px; }
            #footer-info .right { float: right; }

        .head-img-mobile { display: none; }
        /*手機板*/
        @@media (max-width: 480px) {
            body { padding: 0; margin: 0 -4px; border: solid 0px red; }
            .head-img-web { display: none; }
            .head-img-mobile { display: block; }
            .sharedTripBtn, .myfavr-btn { width: 250px; margin-left: 10px; }
            #menu-m-btns img { width: 38px; }
        }
    </style>

    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWBApYiHHk50f7LsqEKUMX_nUG30sSqFA"></script>
    <script>
        var map,
            markerArray = [],//規劃路徑用
            latlng,
            markers = [], //標記
            marker,
            infowindow,
            stepDisplay;



        function initMap() {
            stepDisplay = new google.maps.InfoWindow;
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: { lat: 24.73332, lng: 121.75059 },
                zoomControl: true,
                scaleControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            //var myLatlng = new google.maps.LatLng(24.73332, 121.75059);
            //var marker = new google.maps.Marker({
            //    position: myLatlng,
            //    title: "Hello World!"
            //});
            //marker.setMap(map);
        }

        function getGLatlng(lat, lng) {
            //console.log("lanteewerew?", lat,lng)
            latlng = new google.maps.LatLng(lat, lng);
        }

        function setGMarker(position, title) {
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: title,
                animation: google.maps.Animation.DROP
            });
            
        }



        var spots = [];

        function showSteps(directionResult, markerArray, stepDisplay, map) {
            // For each step, place a marker, and add the text to the marker's infowindow.
            // Also attach the marker to an array so we can keep track of it and remove it
            // when calculating new routes.
            var myRoute = directionResult.routes[0].legs[0];

            for (var i = 0; i < myRoute.steps.length; i++) {
                var marker = markerArray[i] = markerArray[i] || new google.maps.Marker;
                marker.setMap(map);
                marker.setPosition(myRoute.steps[i].start_location);
                console.log("myRoute:", myRoute.steps)
                attachInstructionText(
                    stepDisplay, marker, myRoute.steps[i].instructions, map);
            }
        }

        function attachInstructionText(stepDisplay, marker, text, map) {
            google.maps.event.addListener(marker, 'click', function () {
                // Open an info window when the marker is clicked on, containing the text of the step.
                //console.log(text)
                stepDisplay.setContent("AAA<br />" + text);
                stepDisplay.open(map, marker);
            });
        }

    </script>
    <script>require(['/Scripts/src/plantrip.js?v=@codeVersion']);</script>

</head>

<body onload="initMap()">   
    <div id="main"
         data-hostUrl="@hostUrl"
         data-content-guid="@ViewBag.ContentGuid"
         data-content-sn="95"
         data-aan="@aan"
         data-id="@ViewBag.id"
         data-user="@User.Identity.Name.ToString()">

        <div id="menu-m-btns">
            <a id="homeBtn" @@click="toggleMainBtns()"><img src="~/Content/Images/home.png" /></a>
            <div class="subBtns" v-if="isMainBtnsShow">
                <a href="/">              <img src="~/Content/Images/P0.png" /></a>
                <a href="/tourismFactory"><img src="~/Content/Images/P1.png" /></a>
                <a href="/marketing"><img src="~/Content/Images/P2.png" /></a>
                <a href="/plantrip"><img src="~/Content/Images/P3.png" /></a>
                @if (LoginName == "")
            {
                    <a href="/account/login"><img src="~/Content/Images/P4.png" /></a> }
            else
            {
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <img src="~/Content/Images/P5.png" />
                        <b id="logout-icon">@LoginName 登出</b>
                    </a>
                }
            </div>
        </div>

        <div id="cSMIF" data-pageType="market"></div>

        <div id="mainPanel">
            <div class="head-img head-img-mobile"><img src="~/Content/Images/new0330/行程規劃-BANNER(PHONE).jpg" /></div>
            <div class="head-img head-img-web"><img src="~/Content/Images/new0330/行程規劃-BANNER(WEB).jpg" /> </div>
            <div id="find-store-panel" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-2" >
                        <select class="ui dropdown sharedTripBtn" v-model="currFacStore">
                            <option value="0">選擇觀光工廠</option>
                            <option v-for="c in facStores" :value="c">{{c.name}}</option>
                        </select>
                        <div class="t-icon" @@click="gotoTripGMap()">
                            <span class="fa-stack fa-lg">
                                <i v-bind:style="{ 'color' : isFavorColor}" class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                            </span>
                            <label>導航</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-md-offset-2">
                        <select class="ui dropdown sharedTripBtn" v-model="currUnionMarketing">
                            <option value="1">聯合行銷優惠</option>
                            <option v-for="c in unionMarketings" :value="c">{{c.Title}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            <div v-show="isBeginMap" id="map" style="height:800px;"></div>
            <div id="warnings-panel"></div>
        </div>
        @Html.Partial("_Footer")
       
    </div>

</body>
</html>