﻿@using System.Configuration;
@{
    string uploadURL = ConfigurationManager.AppSettings["uploadURL"].ToString();
    string codeVersion = ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
    html, .body-content, #main {height:auto; }
    #main { display: inline-block; float: left; width: 100%; }
</style>

<div id="main"
    data-content-guid="@ViewBag.ContentGuid"
    data-content-sn="@ViewBag.ContentSN"
    data-content-codename="@ViewBag.id"
    data-user="@User.Identity.Name.ToString()">
    <img style="width:70%; margin: 0 15%;" src="~/Content/Images/敬請期待-01.jpg" />
</div>
@section js {
}