﻿@{
    string uploadURL = System.Configuration.ConfigurationManager.AppSettings["uploadURL"].ToString();
    string codeVersion = System.Configuration.ConfigurationManager.AppSettings["CodeVersion"].ToString();
}
<style>
body { padding: 0 0 100px; }
.header-container {display:none;}
#main { display:inline; padding: 0px 0 10px; border: solid 0px blue; text-align: center; }
    #maining { width: 100%; }
    #maining2 { display: none; }
    .store {border:solid 0px red; z-index:99; position:absolute; cursor:pointer; }
    .store:hover { background-color: gold; opacity: 0.3; }
.iconTag { border: solid 0px #555; width: 180px; height:150px; z-index: 999; position: absolute; cursor: pointer; background-image:url('/Content/Images/blankIcon.png') }
.iconTag .StoreTyp { position: relative; top: 15px; left:11px; width:90px; height:90px; }
    .iconTag .storeDscr { position: relative; top: 15px; left: 44px; font-weight: bold; font-size: 16px; width: 113px; border: solid 0px #ccc; text-align: center; line-height: 17px; }
    .store-info-body { display:none;}

@@media (min-width: 1400px) {
    .container { max-width: 100%; height: 100%; }
    .store { border: solid 0px blue; border-radius: 50px; width: 50px; height: 50px; }
}
@@media (min-width: 1050px) and (max-width: 1400px) {
    .container { max-width: 100%; height: 100%; }
    .store { border: solid 0px blue; border-radius: 50px; width: 42px; height: 42px; }
}
@@media (min-width: 768px) and (max-width: 1050px) {
    .container { max-width: 100%; height: 100%; }
    .store { border: solid 0px green; border-radius: 40px; width: 32px; height: 32px; }
}
@@media (min-width: 480px) and (max-width: 768px) {
    .store { border: solid 0px red; border-radius: 40px; width: 20px; height: 20px; }
}

/*手機板*/
@@media (max-width: 480px) {
    .store { display: none; }
    img.maining { height: 1020px; width: auto; position: relative; left: -145%; }
    #maining2 { display: block; left: 0; height: 1620px; }
    #maining { display: none; }
    #storesPanel { border: solid 0px #fff; position:absolute; top:0; }
    #storesPanel2 { border: solid 0px #fff; }
    .store-info { border: solid 0px #aaa; background-color: transparent; cursor: pointer; }
    .store-info-body2 { border: solid 1px #ccc; background-color: #efe; border-radius: 5px; width: 100%; margin: 3px 0; display: block; padding: 18px 0; }
    .store-info-body { border: solid 1px #ccc; background-color: #fff; border-radius: 5px; width: 100%; margin: 3px 0; display: block; }
    .store-info-typ-img { width: 50%; padding-top: 5px; }
    .store-info-name { color: #444; font-weight: bold; font-size: 0.95em; height: 36px; text-align: center; padding: 0 10px; }

    footer { }
}
</style>

<div id="main" 
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN">
        <div v-for="s in spots" :id="s.id" v-cloak
             class="store" 
             v-on:mouseover="mouseOverStore(s)"
             v-on:mouseleave="mouseLeaveStore()"
             v-on:click="clickFactoryInfo(s.codeName)"
             v-bind:style="[{ 'top' : setStoreTop(s.y) }, {'left': 'calc(100% * '+ s.x + '/ 880)' } ]"></div>
        <div v-for="(index,s) in spots"  class="iconTag" v-cloak
             v-show="currStore == s.id"
             v-bind:style="[{ 'top' : setStoreIconTop(s.y) }, {'left': 'calc(100% * '+ (s.x + 26) + '/ 880)' } ]">
            <img :src="showFactoryIcon(s.typ)" class="StoreTyp" />
            <div class="storeDscr">{{s.name}}</div>
        </div>
        <img id="maining" class="maining web" src="~/Content/Images/1218-main-a.jpg" />

        <img id="maining2" class="maining mobile" src="~/Content/Images/1218-mobile-bg.jpg" />
        <div id="storesPanel" class="container-fluid">
            <div v-for="s in currSpots" class="store-info col-xs-6" v-on:click="clickFactoryInfo(s.codeName)">
                <div class="store-info-body">
                    <img class="store-info-typ-img" :src=" '/Content/Images/icons/StoreTyp' + s.typ + '.png'" />
                    <div class="store-info-name">{{s.name}}</div>
                </div>
            </div>
        @*</div>
    <hr />
        <div id="storesPanel2" class="container-fluid">*@
            <div v-for="s in spot2s"
                    v-show="!(currStoreTyp == s)" class="store-info col-xs-6" v-on:click="clickGetCurrStoreTyp(s)">
                <div class="store-info-body2">
                    <img class="store-info-typ-img" :src=" '/Content/Images/icons/StoreTyp' + s + '.png'" />
                </div>
            </div>
        </div>

        </div>

@section js {
<script src="~/Scripts/vendor/requirejs/require.js"></script>
<script src="~/Scripts/src/config.js"></script>
<script src="~/Scripts/src/mixin/m.js?v=@codeVersion"></script>
<script src="~/Scripts/src/mixin/upload.js?v=@codeVersion"></script>
<script>require(['/Scripts/src/factory.js?v=@codeVersion']);</script>
}