﻿@{
    ViewBag.Title = "活動專區";
    string uploadURL = System.Configuration.ConfigurationManager.AppSettings["uploadURL"].ToString();
}

<style>
#main { padding:40px 0 200px;}
.row { margin: 20px 0 90px; }
    .row .content { display: inline-block; padding: 0 10px 20px; color: #555; font-size: 15px; line-height:20pt; height:110px; }
    .row .item-block { border: solid 1px #ddd; margin:0; }
    .row .item-block * { line-height:20pt;}
    .row .h3header { color: #5c5c5c; font-size:23pt; letter-spacing:2px; line-height:30pt; text-align:center; padding: 0 0 0 90px;}
    .row hr { border: solid 2px #ddd;}
    #stone { height:300px; display:block;}
    .item-title { height:40px; color:#5c5c5c; font-size:13pt; padding:10px;}
    .see-more-content { font-size:12pt; padding:4px 20px;  color:#fff; font-weight:bold; border-radius:5px; float:right;  }
    .see-more-this-item { text-align: center; font-size: 15px; line-height: 19px; color: #555; width: 90px; display:block;
                          background-color:#fff; color:#efc043; border-radius:5px; margin: 20px auto; }

    #header-belt { width:100%; height:98px; color:#fff;}
    #header-belt h2 { font-size: 23pt; float:left; line-height: 98px; padding: 0 20px;}
    #header-belt h4 { font-size: 14pt; float:right; line-height: 14px; padding: 0 20px; position:relative; bottom:-45px;}
    #header-belt h4 a, #header-belt h4 a:hover, #header-belt h4 a:focus { color: #fff; text-decoration: underline; }

    .actb1 { background-color:#efc043;}
    .actb2 { background-color:#d5c651;}
    .actb3 { background-color:#f5bbd1;}
    .actb4 { background-color:#a9e1f9;}

</style>
            
<div v-cloak id="main"
     data-content-guid="@ViewBag.ContentGuid"
     data-content-sn="@ViewBag.ContentSN">

    <div id="header-belt" class="k-green">
        <h2>{{Content.BigTitle}}</h2>
        <h4>
            <span v-for="(index,c) in TransRoutePath">
                <a href="/context/{{c.key}}">{{c.val}}</a>
                <b v-if="TransRoutePath.length -1 > index">></b>
            </span>
        </h4>
    </div>

    <div>
        <div class="row" v-for="c in Contents" v-cloak>

            <h3 class="h3header">
                {{c.Content.BigTitle}}
                <a class="see-more-content k-blue" href="/context/{{c.Content.RouteName}}">看更多</a>
            </h3>
            <hr />
            <div class="col-md-3" v-for="(index,item) in c.Content.items">
                <div class="item-block actb{{index+1}}">
                    <h4 class="item-title">{{item.Title}}</h4>
                    <img src="item.firstImg.FileNameNew | formatImgSrc '@uploadURL' 275 155" width="100%" />

                    <h5>{{item.Subtitle}}</h5>
                    <div class="content">{{{item.Dscr | formatDscr}}}</div>
                    <div class="see-more-this-item"><a href="/context/{{c.Content.RouteName}}">了解更多</a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="stone"></div>
</div>
@section js {
    <script src="~/Scripts/vendor/requirejs/require.js"></script>
    <script src="~/Scripts/src/config.js"></script>
    <script>require(['/Scripts/src/GetSingleContent.js?v=170629']);</script>
}