﻿#main { padding: 0; }
.row { margin: 20px 0; display: inline-grid; }
    .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
    .row .item-block { border-bottom: solid 2px #ddd; margin: 10px 0 20px; padding: 20px 0; }
.item-title { height: 40px; color: brown; }
.see-more-content { float: right; font-size: 14px; padding: 5px 20px; background-color: green; color: #fff; font-weight: bold; border-radius: 5px; }
.see-more-this-item { text-align: center; font-size: 14px; line-height: 19px; color: #4800ff; font-weight: bold; width: 100%; display: inline-block; }
.item-1st-img { margin: 5px auto; display: block; }
.dwnrows { width:100%; display:inline-block; }
.dwnTypTree { border: solid 2px #aaa; border-radius:10px; padding:10px; margin:0 0 20px; background-color:#deed2d; }
.dwn-typ2s { font-size:15px; border: solid 0px #ddd; padding:3px; cursor:pointer; background-color:#fff; }
.dwn-typ2s:hover{ background-color:#ddd; }
.dwn-point { border: solid 0px #eee; height:140px; text-align:center; border:solid 1px #fff;
                background-repeat:no-repeat; background-position:center;  background-size: 110px 110px;
                margin:0 0 30px; text-align:center; padding: 3px; font-size:15px; font-weight:bold; width:20%; float:left; }
.dwn-point:hover { background-color:#eee; border:solid 1px gold; }
b.dwrul { line-height:18px; float:left; width:100%; position:relative; border-radius:10px; font-weight:300; height:42px;
            padding:3px 0; top:120px; background-color:#663; opacity:0.65; color:#fff; }

#header-belt { width: 100%; height: 98px; color: #fff; }
    #header-belt h2 { font-size: 23pt; float: left; line-height: 98px; padding: 0 20px; }
    #header-belt h4 { font-size: 14pt; float: right; line-height: 14px; padding: 0 20px; position: relative; bottom: -45px; }
        #header-belt h4 a, #header-belt h4 a:hover, #header-belt h4 a:focus { color: #fff; text-decoration: underline; }
.err_dscr { margin:10px; padding:20px; background-color:gold; color:#555; font-size:16px; border: solid 1px red; border-radius:10px;}