﻿#main { padding: 0px 0 200px; }
#map { display: none; }
.header-container { display: none; }
#store-header { margin: 0 0 16px; }
.top-panel { width: 100%; padding: 10px; font-size: 18px; margin: 0; border-top-style: solid; border-top-width: 18px; height: 95px; }
    .top-panel label { font-size: 15px; }
.t-icon { float: right; width: 78px; text-align: center; cursor:pointer; }
.rating-panel { float: left; border: solid 0px blue; width: 100%; }
    .rating-panel h4 { border-bottom: solid 1px #c6c4c4; padding-bottom: 8px; font-size:23px; font-weight:bolder;  }
.rating_no { color: #F05102; font-weight: bold; }
.item-block { /*height:278px;*/ margin: 0; padding: 0; border: solid 6px #fff; }
.shadow-banner-desc { position: absolute; top: -10px; right: 0px; color: #fff; float: right; background-color: #444; opacity: 0.7; /*height: 90px;*/ font-size: 1.3em; line-height: 1.4em; padding: 10px; margin: 10px 0 0 50px; }
    .shadow-banner-desc pre { margin: 0; }

.dscr-head { font-size: 2em; width: 1em; line-height: 1em; margin: 0 auto; height: 2.6em; }
.dscr-belt { height: 6px; width: 30%; margin: 0 35%; }
.dscr-body { position: relative; top: -12px; margin: 5px 0 0; padding-top: 10px; border-top: solid 1px #fff; font-size:14px; }
.shadow-desc { background-color: #333; opacity: 0.9; color: #fff; /*height: 386px;*/ font-size: 1.1em; line-height: 1.4em; padding: 16px; position: absolute; top: 0; left: 0; float: left; height: 100%; }
#ccc-container { float: left; width: 100%; margin-top:14px; }
#ccc-container .item-block img { width:100%; }

.comment_board { border: solid 2px #ccc; width: 100%; }
.comment { border-bottom: solid 1px #ddd; padding: 15px; }
.article { font-size: 1.5em; color: #444; line-height: 1.6em; float: left; }
.profile_photo { float: left; margin: 0 10px 0 0; width: 40px; height: 40px; background-size: 40px 40px; }
.starRating { float: left; margin: 0 10px 0 0; }
.relative_time_description { float: left; margin: 0 10px 0 0; }
.rating_no { font-size: 18px; color: dodgerblue; margin: 0 10px; }
.ui.huge.rating { font-size: 1.6em; }
.row { margin: 0; }
.small-block { float: left; width: 14px; height: 38px; display: inline-block; }

#more-dscr-panel { width: 80%; padding: 30px; background-color: #444; opacity: 0.95; color: #fff; border: solid 5px green; border-radius: 10px; margin: auto; display: block; position: fixed; top: 15%; left:10%; height: auto; font-size:17px; line-height:26px; z-index:9999;}
.more-dscr { font-size: 15px; padding: 1px 4px; border: solid 0px red; cursor: pointer; position: absolute; bottom: 5px; right: 5px; z-index:9999; }
.more-dscr:hover{ color:red; }
.close-dscr-btn { position:absolute; top:-20px; right: -20px; font-size:26px; z-index:99999; cursor:pointer;}