﻿#main { margin: 10px 0 0; padding:0 5%; }
.row { margin: 20px -15px 20px; }
    .row .content { display: inline-block; padding: 0 0 20px; color: #666; font-size: 15px; }
    .row .item-block { border: solid 0px #aaa; margin: 0; /*height: 400px;*/ }
.item-title { height: 40px; color: brown; font-size:1em; }
.title { display:inline-block; width:100%; font-size:18px; color:#666;}
.subtitle { display:inline-block; width:100%; font-size:15px; color:#999;}
.addCart { cursor:pointer; }
.red { color:lightcoral; }
.CCBtn { cursor:pointer; display:inline-block; border:solid 1px #aaa; text-align:center; padding:5px; margin:4px;}
.CCBtn:hover { background-color:red; color:#fff;}
.cc-span { display: inline-block; width:60px; padding:5px; border:solid 1px #ccc; text-align:center; }
.ui.table td.totalPanel{ background-color:#eee; padding:10px 10px; text-align:right; }
.btns { padding:25px; width:100%; background-color:#eee; border-radius:4px; border:solid 1px  #aaa; margin: 10px 0; text-align:center; }
.ui.table tr td { font-size:1.1em;}
.ui.table tr td.tbb { text-align: right; background-color:#fff; width:250px; color:#777; }