﻿v-cloak { display: none; }

html * { font-family: 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif; }
body { background-color: #fff; margin: 0; }
.body-content { padding-top: 0px; }
@media (min-width: 1200px) {
    .container { max-width: 100%; }
}
@media (min-width: 992px) {
    .container { max-width: 100%; }
}
#main { width: 99%; padding: 0px 0 200px 45px; }

.my-login-bar { border: solid 0px red; position: fixed; top: 0px; right: 0px; z-index: 999; margin: 0; text-align: center; }
    .my-login-bar li { width: 110px; height: 38px; border-radius: 100px; margin: 0; background-color: cornflowerblue; list-style: none; float: left; }
        .my-login-bar li a { color: #fff; font-size: 16px; font-weight: 800; text-align: center; margin: 0; padding: 0; line-height: 38px; color: #fff; text-decoration: none; }

/*------------------------------------------------------------------------------------------------------------------------------------------*/
    #menu-m-btns .subBtns { display: no22ne; width: 66px; }

@keyframes myfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
#menu-m-btns { border: solid 0px red; width: 80px; position: fixed; top: 3px; left: -6px; z-index: 9999; }
    #menu-m-btns img { width: 44px; margin: 1px; cursor: pointer; position: relative; left: 4px; border: solid 2px #fff; border-radius: 90px; }
        #menu-m-btns img:hover { border: solid 2px red; border-radius: 90px; }


.my-login-bar { border: solid 0px red; position: fixed; top: 0px; right: 0px; z-index: 999; }
    .my-login-bar li { width: 110px; height: 38px; border-radius: 100px; margin: 0; background-color: cornflowerblue; }
        .my-login-bar li a { color: #fff; font-size: 16px; font-weight: 800; text-align: center; margin: 0; padding: 0; line-height: 38px; color: #fff; }

#mylogout { display: none; }
#myloginUser { display: block; }
.my-login-bar:hover #mylogout { display: block; background-color: cornflowerblue; }
.my-login-bar:hover #myloginUser { display: none; }
#logout-icon { position: relative; top: 0px; text-align: center; float: left; color: blue; font-weight: bold; font-size: 14px; font-weight: bold; }
/*------------------------------------------------------------------------------------------------------------------------------------------*/

#currTripCC { float: left; font-size: 12px; color: #555; margin: 5px 0; border-top: solid 1px #aaa; width: 100%; padding-top: 10px; }
.item-title { height: 40px; color: brown; font-size: 1em; }
.title { display: inline-block; width: 100%; font-size: 18px; color: #666; }
.subtitle { display: inline-block; width: 100%; font-size: 14px; color: #999; line-height: 20px; height: 60px; float: left; }
.red { color: lightcoral; }
#leftPanel, #rightPanel { float: left; padding: 0; height: 660px; }
#leftPanel { width: 240px; }
.btns { margin: 0; padding: 0; }
    .btns .tripBtn { float: left; width: 33%; margin: 0; padding: 0; border: solid 2px #fff; height: 44px; background-color: cornflowerblue; color: #fff; text-align: center; font-size: 12px; cursor: pointer; border-radius:5px; }
        .btns .tripBtn div { width: 100%; float: left; margin-top: 4px; margin: 4px auto 0; display: block; }

.b-panel { padding: -10px 0 0; float: left; }
.sharedTripBtn, .myfavr-btn { width: 98%; margin: 4px 0; padding: 5px; font-size: 0.9em; border: solid 1px #aaa; border-radius: 5px; }
.myfavr-btn { background-color: cornflowerblue; color: #fff; }
.opt .sp { padding: 10px; color: blue; }
.fnBtn { width: 32%; margin: 4px 1% 0 0; border-radius: 4px; background-color: #eee; color: #444; padding: 3px 6px; font-size: 0.8em; }
.red { color:red; }
.green { color: green; }
.orange { color: orange; }
.blue { color: deepskyblue; }
.purple { color: mediumslateblue; }

.bg-red { background-color: red; }
.bg-green { background-color: green; }
.bg-orange { background-color: orange; }
.bg-blue { background-color: deepskyblue; }
.bg-purple { background-color: mediumslateblue; }


#TypMarkers { position: absolute; top: 150px; left: 285px; z-index: 999; width: 250px; height:360px; background-color: #fff; border: solid 2px #888;  }
#TypMarkersPanel { overflow-y: scroll; max-height: 317px; } 
#TypMarkersPanel .marker { float: left; border-top: solid 1px #ddd; height: 22px; width: 95%; text-align: left; font-size: 15px; padding: 5px; }


#rightPanel { float: left; width: -moz-calc(100% - 250px); width: -webkit-calc(100% - 250px); background-image: url("../../Content/Images/plantrip-BG.jpg"); background-repeat: no-repeat; background-position: center; background-size: auto; }
#map { float: left; width: 100%; height: 100%; }

.dscr-would-like { font-size: 0.85em; color: #333; margin: 4px 0; float: left; width: 100%; }
#favor-markers { float: left; width: 100%; border: solid 0px #aaa; background-color: #eeeeff; padding: 5px; }
.store-marker { float: left; width: 94%; border: solid 1px #ccc; background-color: #fff; padding: 4px 2px; text-align: left; font-size: 0.9em; color: #555; margin: 1px 0; border-top-left-radius: 5px; height: 28px; }


.love-marker { float:left; margin:4px 0; background-color:green; color:#fff; width:18px; height:18px; border-radius:18px; text-align:center; display:inline-block; font-size:15px; line-height:17px; font-weight:bold; }
.love-marker.hidden { display:none; }
    .love-marker.red { background-color: #F7584C; } 
.love-marker-name { float: left; display: inline-block; color: #000; margin: 2px; font-size:15px; }
.love-marker-name.hidden { float: left; display: inline-block; color: #bbb; margin: 2px; font-size: 15px; }
.love-marker-typ { float: right; display: inline-block; color: #fff; padding: 2px 4px; font-size: 12px; line-height: 12px; text-align: center; border-radius: 6px; }

.marker-eye { float: right; color: cornflowerblue; cursor: pointer; }
.marker-typ-icon { margin-right:5px; }
.marker-typ-icon:hover { color: brown; }
.fa-stack.closeMarkerTypBtn { position: relative; right: -131px; top: -13px; color: #333; z-index: 999; }
.typMarkerPanelTitle { font-size:19px; margin:4px; }


.sortable-chosen { background-color: gold; color: #333; }
.sortable-drag { background-color: deepskyblue; color: #fff; border: solid 2px #d8b21d; }
#warnings-panel { width: 100%; height: 10%; text-align: center; }

.sharedMyFavors { width: 98%; margin: 4px 0; padding: 5px; font-size: 0.9em; border: solid 1px #aaa; border-radius: 5px; }
.mySaveFavrBtn { width: 60px; padding: 6px 0; }

.currStartPoint { padding:5px; font-size:14px; color:#444; border-radius:3px; width:100%; } 
.headline-title { float: left; font-size: 13px; color: #666; width: 100%; border-top: solid 1px #ddd; margin: 15px 0 7px; }