﻿html,.body-content,#main,#MarkDownPanel,#leftBar { height:100%; }
body{ padding-top:10px; }
footer { padding:5px;}
#main { margin: 0 0 0;}
.navbar { position: relative; z-index: 1000; min-height: 30px; margin-bottom: -30px; border: 1px solid transparent; }
#btnsPanel { float: left; width: 100%; border: solid 0px #ccc; border-radius: 4px; padding: 4px; background-color:#eee; }
#leftBar, #MarkDownPanel { float: left; }
#leftBar { width: 260px; border-top: solid 1px #999; padding: 0; margin: 0 20px 0 0; }
    #leftBar div { display: block; }
        #leftBar div ul { padding: 0; }
            #leftBar div ul li { list-style: none; padding-top: 2px; padding-bottom: 2px; margin: 0; font-size: 14px; font-weight:bold; color:#555; border-bottom: solid 1px #ddd; cursor: pointer; }
            #leftBar div ul li.selectedNode { color:#fff; }
.lvl0 { padding-left: 3px; }
.lvl1 { padding-left: 25px; }
.lvl2 { padding-left: 50px; }
.lvl3 { padding-left: 75px; }
.lvl4 { padding-left: 100px; }
#MarkDownPanel { width: -moz-calc(100% - 280px); width: -webkit-calc(100% - 280px); padding: 0; }
.CodeMirror-scroll { min-height: 170px; }
.form-horizontal { padding: 0 20px 0 0;}
.selectedNode { color: #fff; background-color: #2185d0; }
.ui.button.selected { background-color: #f2711c; color: #fff; }

#itemsPanel { width: 100%; padding: 5px; float: left; border-top: solid 1px #999; padding:0 0 100px 0;  }
#itemsPanel,#leftBar div { overflow: auto; height: -webkit-calc(100% - 1px); height: -moz-calc(100% - 1px); height: calc(100% - 1px); }
.nodeTreeBtn { float: left; padding: 0 10px; margin: 0; }
.itemBtn { float: right; padding: 3px 20px; margin: 0; border: solid 1px #ccc; border-radius:4px; background-color:#fff; }

.item-title { width: 100%; border: solid 1px #aaa; float: left; }
    .item-title div { padding: 4px 0; border-left: solid 0px #ccc; text-align: center; float: left; }
.item-row { width: 100%; border-top: solid 1px #ddd; float: left; }
    .item-row div { padding: 10px 0 0 0; border-left: solid 0px #ccc; text-align: center; float: left; }
        .item-row div b { float: left; width: 100%; text-align: left; }
        .item-row .btns { width: 80px; }
        .item-row .cnttBody { width: -moz-calc(100% - 80px); width: -webkit-calc(100% - 80px); line-height: 22px; }
.hide { display: none; }
.left { float: left; }
#EditItemPanel { position: absolute; z-index: 9999; top: 10px; left: 250px;
                 width: -moz-calc(100% - 250px); width: -webkit-calc(100% - 250px); 
                  
                 border: solid 4px #f2711c; padding: 20px 40px; background-color: #fff; border-radius: 10px;
                 }


i.icon, i.icons { margin:0; cursor:pointer; }
.item-row-index { float:left; width:100%; text-align:center; font-size:18px; font-weight:bold;}
.itemRowBigTitle { font-size: 20px; }
.itemRowSubTitle { font-size: 15px; padding: 6px 0; color:#777;}
.itemRowName { font-size: 14px; color: #555; font-weight: normal; margin: 6px 0 0 0; }
.itemRowDate { font-size: 14px; color: blue; font-weight: normal; margin: 6px 0 0 0; }
.itemRowDscr { font-size: 14px; color: #555; font-weight: normal; }
.itemRowInsertDT { font-size:14px; color:#888; text-align:left; }
.uploading-files { font-size:14px; padding:4px 10px; background-color:gold; color:#444; }
.imgs { border:solid 1px #ddd; padding:4px;}

#uploadFilePanel { border: solid 2px #999; width: 100%; float: left; bottom: 0px; position: fixed; z-index: 9999; padding: 10px 20px; background-color: #eee; color: #444; left: -2px; }
.imgBar { width:100%; border-top:solid 1px #ccc; padding:4px 0; margin:15px 0; }
.imgUnit { float:left; width:47%; height:160px; margin:5px; padding:0; }
.imgUnit > .img-buttons { background-color:#333; color:#fff; opacity:0; width:100%; position:relative; bottom:-68px; z-index:9999; }
    .imgUnit:hover > .img-buttons { opacity: 0.8; -webkit-transition: opacity ease 0.6s; transition: opacity ease 0.6s; }
.imgUnit .img-buttons i:hover { color: red; }
    .imgUnit .imgDscr { position: relative; z-index: 99999; background-color: #fff; width: 700px; padding: 10px; border: solid 1px #ddd; margin: 90px 0 0 0; }
    .imgUnit > .imgDscrBar { position: relative; z-index: 9999; background-color: #222; width: 100%; height: 70px; opacity: 0.75; font-size: 13px; padding: 2px; color: #fff; display: block; text-align: left; line-height: 1.2em; bottom: -92px; text-overflow:ellipsis; }
    .imgUnit:hover > .imgDscrBar { opacity:0; transition: opacity ease 0.4s; }
.imgUnit .imgDscr textarea { width:100%; margin:10px; }

.dt-basic-infor { color:#777; font-size:15px; padding:5px; text-align:right; }
.selectedImgsCC { font-size:15px;}
#files { border: solid 1px #aaa; margin:10px 0; width:400px ; font-size:16px; float: left;}

@media (min-width: 768px) {
    .navbar-header { float: left; width: 200px; }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #101010; background-color: transparent; z-index: 999; position: relative; top: 0px;  width: 300px; }
}