﻿/**    *************************************
*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.navbar-nav { margin: 0; }
.dl-horizontal dt { white-space: normal; }
.navbar-brand { float: left; padding: 0 0 0 15px; font-size: 15px; line-height: 16px; }
.navbar-fixed-top { box-shadow: 0 10px 10px 0 rgba(0,0,0,0.16); }
.navbar-inverse { background-color: #fff; border-color: #fff; color: rgb(99,125,63); font-size: 1.2em; }
    .navbar-inverse .navbar-toggle { background-color: orangered; }
    /*.navbar-inverse .navbar-nav > li > a { font-size:1em; color: rgb(99,125,63); font-weight:bold; }*/
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: red; background-color: #fff; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { font-size: 1.1em; color: #434343; }
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover { background-color: #ddd; }

.navbar li { cursor: pointer; }
.container { }
.header-container { /*background: url(/Content/header_container_bg.png) repeat;*/ background-color: #4cbcd4; }

footer { /*position: fixed; bottom: -10px; left: 0; z-index: 9999;*/
         position: static;
         background-color: #0B478F; color:#fff; padding: 50px 0; width: 100%; text-align: center; }
    footer p { margin: 0; color: #fff; font-size: 0.85em; }
    footer a { color: #fff; }
    #footer-info { display:inline-block; margin:0 auto; border:solid 0px #aaa; padding:0; text-align:left;}
    #footer-info .left { float:left; }
    #footer-info .left img { margin: 0 10px; width:130px;}
    #footer-info .right {float:right; }
#stone { height: 10px; display: block; }

/*#right-side-big-icon-munu { position:fixed; top:10%; right:0px; z-index:9999; border:solid 0px #ccc; width:115px; background-color:transparent; }
#right-side-big-icon-munu ul { padding:0; margin:0; }
#right-side-big-icon-munu ul li { list-style: none; padding: 10px 20px; font-size:14px; text-align:center; color:#777; cursor:pointer;  }
#right-side-big-icon-munu ul li:hover { background-color:rgb(99,125,63); color:#fff; opacity:0.7; }*/

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { color: #434343; background-color: #fff; }
.form-group { margin-bottom: 5px; }
.navbar-login { font-size: 0.8em; }
.navbar-collapse { padding: 0; }


.kd-red { border-top: 5px solid #f27b81; }
.kd-mustard { border-top: 5px solid #f7c44e; }
.kd-green { border-top: 5px solid #aec158; }
.kd-yellow { border-top: 5px solid #fce480; }
.kd-blue { border-top: 5px solid #4cbcd4; }

.k-red { background-color: #f27b81; }
.k-mustard { background-color: #f7c44e; }
.k-green { background-color: #aec158; }
.k-yellow { background-color: #fce480; }
.k-blue { background-color: #2f5b88; }
.k-green2 { background-color: #97D63E; }

/*登入按鈕群*/
#menu-m-btns { border: solid 0px red; width: 60px; position: absolute; top: 0px; left: -4px; z-index: 9999; }
    #menu-m-btns .subBtns { width: 66px; }
    /*#menu-m-btns:hover .subBtns { display: block; animation-duration: 0.5S; animation-name: myfadeIn; }*/

    @keyframes myfadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    #menu-m-btns img { width: 50px; margin: 1px; cursor: pointer; position: relative; left: 1px; border: solid 2px #fff; border-radius: 90px; }
        /*#menu-m-btns img:hover { border: solid 2px red; border-radius: 90px; }*/

.big3itme { height: 480px; }

footer { float: left; border-top: solid 1px #ccc; color: rgb(99,125,63); padding: 18px; width: 100%; text-align: center; }
    footer p { margin: 0; color: #fff; font-size: 13px; }
    footer a { color: #fff; }


@media (min-width: 768px) {
    /*.navbar-right { float:none !important; }*/
    .container { width: 100%; }
    .navbar-header { float: left; width: 100%; }
    .logo-img { width: 180px; }
    .nav-bar { float: right; }
    .mainTopMenu { width: 100%; border: solid 0px #aaa; }
    .mainBigMenu { display: inline-block; }
    .navbar-login { font-size: 18px; float: right; }
    .navbar-collapse { float: right; }
    .navbar > .container .navbar-brand { margin-left: -15px; margin-bottom: 10px; }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #101010; background-color: transparent; z-index: 999; position: relative; top: 0px; width: 100%; }
    .navbar-collapse .navbar-nav.navbar-right:last-child { margin-right: 0; }

    ul.smallicon li a.sic1 { border-top: solid 5px #35538F; }
    ul.smallicon li a.sic2 { border-top: solid 5px #FCE480; }
    ul.smallicon li a.sic3 { border-top: solid 5px #D3542D; }
    ul.smallicon li a.sic4 { border-top: solid 5px #34B3D3; }
    ul.smallicon li a.sic5 { border-top: solid 5px #B70400; }
    
}

@media (min-width: 480px) and (max-width: 768px) {
    body { padding: 40px 0 0; }
    .navbar-login { display: no33ne; }
    .logo-img { width: 140px; }
    .nav-bar { float: left; }
    .mainBigMenu { margin-top: 0px; }
    .navbar-login { display: none; font-size: 1em; }
    .smallicon .sic { width: 12%; float: left; border: solid 1px #eee; margin: 4px; text-align: center; }
    .body-content { padding: 0; }

    .nav.navbar-nav.navbar-right.smallicon { border-top: solid 4px #f7c44e; }
    #right-side-big-icon-munu { width: 70px; }
        #right-side-big-icon-munu ul li { padding: 5px; font-size: 12px; }

    .mainland-web { display: block; }
    .mainland-mobile { display: none; } 
}

/*手機板*/
@media (max-width: 480px) {
    body { padding: 40px 0 0; }
    .logo-img { width: 110px; }
    .nav.navbar-nav.navbar-login { display: none; }
    .mainBigMenu { margin-top: 0px; }
    .smallicon .sic { width: 12%; float: left; border: solid 1px #eee; margin: 4px; text-align: center; }
    .body-content { padding: 0; }

    #right-side-big-icon-munu { width: 50px; }
        #right-side-big-icon-munu ul li { padding: 3px; font-size: 10px; }

    /*觀光工廠的登入按鈕大小*/
    #menu-m-btns { position:fixed; }
    #menu-m-btns img { width: 36px; }
   
    #main { height: auto; }
    footer { padding: 4px; font-size: 10px; bottom: 0;  }
        footer p { font-size: 11px; }
    #footer-info .left { width: 30%; }
        #footer-info .left img { margin: 20px 10%; width: 80%; }
    #footer-info .right { float: right; width: 65%; }
    .container{ height:auto; }

    .mainland-web { display:none; }
    .mainland-mobile { display: block; }
    .big3itme { height: 350px; }
        .big3itme img.mj { width: 100%; }
    
}
