﻿[v-cloak] { display: none; }
html * { font-family: 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif; }
body { padding: 0; }
html, .body-content { height: 100%; }
.body-content { padding: 0 6px 0 24px; }

.my-login-bar {  }
    .my-login-bar li { width: 110px; height: 32px; border-radius: 100px; margin: 0; background-color: cornflowerblue;  }
    .my-login-bar li a { color: #fff; font-size: 16px; font-weight: 800; text-align: center; margin: 0; padding: 0; line-height: 32px; color: #fff; }

        #mylogout { display:none;} 
        #myloginUser { display: block; }
        .my-login-bar:hover #mylogout { display: block; background-color: cornflowerblue; }
        .my-login-bar:hover #myloginUser { display: none; }
#logout-icon { position: relative; top: 0px; text-align: center; float:left; color:blue; font-weight:bold; font-size:14px; font-weight:bold; }

.nav > li > a:hover { text-decoration: none; background-color: cornflowerblue; }


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.navbar-nav { margin: 0; }
.dl-horizontal dt { white-space: normal;}
.navbar-brand { float: left; padding: 0 0 0 15px; font-size: 15px; line-height: 16px; }
.navbar-fixed-top { box-shadow: 0 10px 10px 0 rgba(0,0,0,0.16); }
.navbar-inverse { background-color:#fff; border-color: #fff; color: rgb(99,125,63); font-size: 1.2em; }
.navbar-inverse .navbar-toggle { background-color:orangered; }
/*.navbar-inverse .navbar-nav > li > a { font-size:1em; color: rgb(99,125,63); font-weight:bold; }*/
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: red; background-color: #fff; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { font-size: 1.1em; color: #434343; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {  background-color: #ddd; }

.navbar li { cursor:pointer;  }
 .container {}
.header-container { background: url(/Content/header_container_bg.png) repeat;
                    background-color:#fff; display:no22ne;
}



.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #434343; background-color:#fff;
}

.navbar-login { font-size:0.8em; }
.navbar-collapse { padding:0; }
